<div id="milestone2" class="milestone2-container">
    <div class="milestone2">
        <h1>M2</h1>
    </div>
    <br>
    <h1>Idea Validation</h1>

    <div class="spacer"></div>

    <div class="introduction">
        <div class="text">
            <p>The idea validation is one of the most important stages when creating a start-up. We have questioned more
                than 230 persons using Google Forms questionnaires, aged between 14 and 50 years, males and females,
                certified trainers, and regular persons. We have collected their feedback, we had conversations beside
                the
                questionnaires, we listened to their stories and hopefully, we understood their necessities, pains, and
                desires.</p>
        </div>

        <div class="screenshots-container">
            <div class="screenshots">
                <img src="../../assets/images/wapp1.jpeg">
            </div>

            <div class="screenshots">
                <img src="../../assets/images/wapp2.jpeg">
            </div>

            <div class="screenshots">
                <img src="../../assets/images/wapp3.jpeg">
            </div>
        </div>
    </div>

    <div class="spacer"></div>


    <section>
        <p class="title">
            Identifying the problem
        </p>
        <div class="content">
            <div class="row-problem">
                <div class="info-text">
                    Personal Trainers and Gym goers are constantly using old technology like spreadsheets, notes, notebooks, messages and pdf files in order to keep track of and maintain a healthy lifestyle. In order to grow and develop, you need to keep track of change and any constant change must be compared to the past in order to distinguish great from good and good from poor.
                </div>
                <div class="divider"></div>
                <mat-icon class="icon" svgIcon="contract"></mat-icon>
            </div>
            <div class="row-problem">
                <div class="info-text">
                    Let’s take a few examples and begin with powerlifting. There are many newcomers that come to the gym after watching a few videos online about certain exercises, deadlifts and squats for example. They begin to work out not knowing that they have poor form due to lack of building muscle to support bone structure and they end up hurting themselves or even worse causing permanent injury.                 </div>
                <div class="divider"></div>
                <mat-icon class="icon" svgIcon="broken-bone"></mat-icon>
            </div>
            <div class="row-problem">
                <div class="info-text">
                    The same theory applies when it comes to dieting and healthy eating. People end up causing permanent damage to their bodies trying to lose those extra pounds and after they finish the process, either they end up back to binge eating due to psychological stress or starving himself or herself without knowing the proper education on how to diet.
                </div>
                <div class="divider"></div>
                <mat-icon class="icon" svgIcon="fatigue"></mat-icon>
            </div>
        </div>
    </section>
</div>