<div id="milestone2" class="milestone2-container">
    <div class="milestone2">
        <h1>M2</h1>
    </div>
    <br>
    <h1>Idea Validation</h1>

    <div class="spacer"></div>

    <div class="introduction">
        <div class="text">
            <p>The idea validation is one of the most important stages when creating a start-up. We have questioned more
                than 240 persons using Google Forms questionnaires (you can find ours <a
                    href="https://forms.gle/CC7cDkKdiktUGnV68">here</a>), aged between 14 and 50 years, males and
                females,
                certified trainers, and regular persons. We have collected their feedback (<a
                    href="https://docs.google.com/spreadsheets/d/17JjnublqlkAyy7lMOTzJv3WxhcjOzr362edNzRYHcTk/edit?usp=sharing">here</a>),
                we had conversations beside
                the
                questionnaires, we listened to their stories and hopefully, we understood their necessities, pains, and
                desires. We merged all the answers in designated tables, for gym-goers and Personal Trainers, that you
                can find right <a
                    href="https://docs.google.com/spreadsheets/d/12CYvkyQW6efoXbCiiOS2tfdRcahXS0sJXrvjmpcil08/edit?usp=sharing">here</a>.
            </p>
        </div>

        <div class="screenshots-container">
            <div class="screenshots">
                <img src="../../assets/images/wapp1.jpeg">
            </div>

            <div class="screenshots">
                <img src="../../assets/images/wapp2.jpeg">
            </div>

            <div class="screenshots">
                <img src="../../assets/images/wapp3.jpeg">
            </div>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="spacer"></div>


    <div class="survey-conclusion">
        <h1 class="section-title">
            Conclusions on the survey results
        </h1>

        <div class="row">
            <div class="card-left">
                <div class="card-title">Our users</div>
                <p>Non-active and active gym-goers make the most out of our survey with personal trainers coming in at a
                    third of the completion rate.</p>
            </div>
            <div class="card-right">
                <div class="card-title">Motivation factors for our users</div>
                <p>
                    As the survey is distributed throughout, we will find out more conclusive data that revolves around
                    health issues and unhealthy habits. Now, none of the survey takers have any health issues though
                    most seem to rely on unhealthy habits to cope with stressful situations, which the pandemic has
                    aggravated in one way or another by making us more sedentary, consume chaotically, dealing with
                    weight gain, and having to deal with stress increase.
                </p>
                <br>
                <p>
                    All of these negative impacts have made most lose grip on the great habits that they have created
                    and few people still deal with lack of motivation and the thought of having to put in the time and
                    effort back into maintaining a clean diet and to get in shape.
                </p>
                <br>
                <p>
                    Our app will allow Personal trainers to take charge in stressful situations and gain back the
                    control lost with this pandemic, as 50% of the PT community has been affected negatively, and 49% of
                    them either changed paths or ended their careers altogether.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="card-left">
                <div class="card-title">Determination</div>
                <p> <b>Personal trainers</b> have the will power and determination to keep going even after they have
                    hit a hard
                    stop when it comes to their careers. They usually keep going to the gym or continue to work out at
                    home if necessary.</p>
                <br>
                <p>Their drive to be certified as a personal trainer is what sets them apart from average gym-goers.</p>
            </div>
            <div class="card-right">
                <div class="card-title">Features</div>
                <p>The most <b>used features</b> of any fitness app would be:</p>
                <div class="icons-container">
                    <div class="feature">
                        <mat-icon class="training-icon" svgIcon="training2" aria-hidden="false"></mat-icon>
                        <p>automated training</p>
                    </div>
                    <div class="feature">
                        <mat-icon class="video-icon" svgIcon="video" aria-hidden="false"></mat-icon>
                        <p>exercise videos</p>
                    </div>
                    <div class="feature">
                        <mat-icon class="analytics-icon" svgIcon="analytics" aria-hidden="false"></mat-icon>
                        <p>statistics</p>
                    </div>
                    <div class="feature">
                        <mat-icon class="dubbing-icon" svgIcon="dubbing" aria-hidden="false"></mat-icon>
                        <p>voice-over exercises</p>
                    </div>
                </div>
                <p>The most <b>useless features</b> on apps are ones with:</p>
                <div class="icons-container">
                    <div class="feature">
                        <mat-icon class="map-icon" svgIcon="map" aria-hidden="false"></mat-icon>
                        <p>no guiding</p>
                    </div>
                    <div class="feature">
                        <mat-icon class="bullhorn-icon" svgIcon="bullhorn" aria-hidden="false"></mat-icon>
                        <p>notifications & ads</p>
                    </div>
                    <div class="feature">
                        <mat-icon class="yoga-icon" svgIcon="yoga" aria-hidden="false"></mat-icon>
                        <p>no variations</p>
                    </div>
                    <div class="feature">
                        <mat-icon class="calendar-icon" svgIcon="calendar" aria-hidden="false"></mat-icon>
                        <p>useless reminders</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card-left">
                <div class="card-title">Average age</div>
                <p>
                    <b>Gym goers</b> and <b>Personal Trainers</b> will be one of the initial sources that will spin the
                    wheel when it
                    comes to personal training and services used on our app.
                </p>
                <br>
                <p>
                    The average age is conclusive as most of the survey takers that are at the beginning of their road
                    when it comes to fitness, seem to revolve around that age bracket (22-23). With personal trainers
                    ranging from 19 to 45 years old and the average age of 27.
                </p>
            </div>
            <div class="card-right">
                <div class="card-title">Consuming time and money</div>
                <p>
                    The average days of gym attendance throughout our study group stays at around <b>3 days a week</b>
                    with
                    levels starting at Beginner (27.6%), Intermediate (52.9%), and Advanced (13.8%) with goals ranging
                    from, getting skinny, becoming toned, or trying to put on muscle.
                </p>
                <br>
                <p>
                    The average monthly fitness budget overall revolves around <b>300 RON</b> with variations ranging
                    from 50
                    to 1000 RON.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="card-left">
                <div class="card-title">Cost expectations</div>
                <p>
                    <b>Personal trainers</b> have a higher tendency to spend more on fitness-related purchases, which
                    makes
                    them have higher financial expectations when it comes to offering services.
                </p>
                <br>
                <p>
                    Cost expectations for time devoted to creating content and holding online sessions with clients
                    estimate around <b>30-50 RON per session</b> to thousands per month depending on the time invested.
                </p>
            </div>
            <div class="card-right">
                <div class="card-title">Online resources used</div>
                <p>
                    60% of the gym-goers have used an app for tracking calories, fitness journaling, watching demo
                    videos, or reading up on detailed information often appreciating the ease of use throughout the
                    process. 81% of people looked for an app that <b>brought them guidance</b> from professional
                    athletes.
                </p>
                <br>
                <p>
                    Personal Trainers seek out apps that not only offer them a database of fitness tools such as
                    tutorials, nutrition guides, statistic profiles, and content creating. They also look for apps that
                    allow them to <b>customize</b> everything that helps them or their customers.
                </p>
            </div>
        </div>

    </div>

    <div class="spacer"></div>



    <section>
        <p class="title">
            Identifying the problem
        </p>
        <div class="content">
            <div class="row-problem">
                <div class="info-text">
                    Personal Trainers and Gym goers are constantly using old technology like spreadsheets, notes,
                    notebooks, messages and pdf files in order to keep track of and maintain a healthy lifestyle. In
                    order to grow and develop, you need to keep track of change and any constant change must be compared
                    to the past in order to distinguish great from good and good from poor.
                </div>
                <div class="divider"></div>
                <mat-icon class="icon" svgIcon="contract"></mat-icon>
            </div>
            <div class="row-problem">
                <div class="info-text">
                    Let’s take a few examples and begin with powerlifting. There are many newcomers that come to the gym
                    after watching a few videos online about certain exercises, deadlifts and squats for example. They
                    begin to work out not knowing that they have poor form due to lack of building muscle to support
                    bone structure and they end up hurting themselves or even worse causing permanent injury. </div>
                <div class="divider"></div>
                <mat-icon class="icon" svgIcon="broken-bone"></mat-icon>
            </div>
            <div class="row-problem">
                <div class="info-text">
                    The same theory applies when it comes to dieting and healthy eating. People end up causing permanent
                    damage to their bodies trying to lose those extra pounds and after they finish the process, either
                    they end up back to binge eating due to psychological stress or starving himself or herself without
                    knowing the proper education on how to diet.
                </div>
                <div class="divider"></div>
                <mat-icon class="icon" svgIcon="fatigue"></mat-icon>
            </div>
        </div>
    </section>

    <div class="spacer"></div>

    <section>
        <p class="title">
            The solution
        </p>
        <div class="content">
            <div class="row-solution">
                <mat-icon class="icon" svgIcon="motivation"></mat-icon>
                <div class="divider"></div>
                <div class="info-text">
                    We offer all of our prospects a motivator.
                </div>
            </div>
            <div class="row-solution">
                <mat-icon class="icon" svgIcon="platform"></mat-icon>
                <div class="divider"></div>
                <div class="info-text">
                    A platform that insures a digital medium of communication between professional heath instructors as
                    well as a tool that allows them to keep track of goals, schedules, conversations, documentation,
                    payments, nutrition, personal transformation and much more.
                </div>
            </div>
            <div class="row-solution">
                <mat-icon class="icon" svgIcon="social-care"></mat-icon>
                <div class="divider"></div>
                <div class="info-text">
                    Support is guaranteed each step of the way by certified personnel in each category whether a client
                    needs a personal trainer or a nutritionist. Alternatively, if a client needs to keep track of their
                    goals so that they do not lose sight of why they started their journey in the first place.
                </div>
            </div>
        </div>
    </section>

    <div class="spacer"></div>

    <section>
        <p class="title">Customer Discovery - Process - Insights </p>
        <div class="content">
            <div class="step-subtitle">
                <mat-icon class="footprints" svgIcon="human-footprints"></mat-icon>
                <h1 class="step">Step 1</h1>
                <p class="subtitle">
                    Focus on the problem that our business is trying to resolve
                </p>
            </div>
            <p class="italic-description">
                The fitness industry is constantly growing and more people are looking for a fast transition into the
                fitness world. Personal trainers are the motivators of each new client to try to help them reach new
                goals and achieve new potentials.
            </p>

            <div class="spacer"></div>

            <div class="card-container">
                <div class="step-card">
                    <h1 class="card-title">Personal trainers</h1>
                    <p>Use multiple platforms and try to transition into multiple different accounts to attract clients
                        as well as hold retention. </p>
                    <br>
                    <p>They establish a relationship with multiple clients monthly to maintain their growth in the
                        industry and the hassle and time lost trying to keep up with new technology is only wasting them
                        not only time, relationships and also money but also the focus and motivation to keep up with
                        their peers.
                    </p>
                </div>
                <div class="step-card">
                    <h1 class="card-title">Gym clients</h1>
                    <p>They look for unattainable shortcuts and use multiple platforms as a motivator to start their gym
                        journey. </p>
                    <br>
                    <p>However, at some point they are lost and confused along the way, which causes them to lose
                        interest.
                    </p>
                </div>
                <div class="step-card">
                    <h1 class="card-title">Gyms</h1>
                    <p>Acquire expensive platforms to manage their employees that do not offer them an attainable goal
                        setter for each.
                    </p>
                    <br>
                    <p> We have to keep in mind that everyone is different and having a platform generalize objectives
                        that pro personal trainers have versus a newly certified personal trainers is killing business
                        development as well as wasting precious time and money.
                    </p>
                </div>
            </div>

            <div class="spacer"></div>

            <div class="step-subtitle">
                <mat-icon class="footprints" svgIcon="human-footprints"></mat-icon>
                <h1 class="step">Step 2</h1>
                <p class="subtitle">
                    Reviewing customer journey maps
                </p>
            </div>
            <p class="italic-description">
                From average gym goer to athlete, personal trainer to master trainer, they all have a process to follow
                and our platform will encourage development through an eight-step progression.
            </p>
            <div class="row-image-cards">
                <div class="image-card">
                    <mat-icon class="image" svgIcon="start-up"></mat-icon>
                    <p class="caption">Boost</p>
                </div>
                <div class="image-card">
                    <mat-icon class="image" svgIcon="easy-slalom"></mat-icon>
                    <p class="caption">Simplify</p>
                </div>
                <div class="image-card">
                    <mat-icon class="image" svgIcon="network"></mat-icon>
                    <p class="caption">Connect</p>
                </div>
                <div class="image-card">
                    <mat-icon class="image" svgIcon="guide"></mat-icon>
                    <p class="caption">Guide</p>
                </div>
            </div>
            <div class="row-image-cards">
                <div class="image-card">
                    <mat-icon class="image" svgIcon="id-card"></mat-icon>
                    <p class="caption">Identify</p>
                </div>
                <div class="image-card">
                    <mat-icon class="image" svgIcon="ambassador"></mat-icon>
                    <p class="caption">Influence</p>
                </div>
                <div class="image-card">
                    <mat-icon class="image" svgIcon="social-media"></mat-icon>
                    <p class="caption">Engage</p>
                </div>
                <div class="image-card">
                    <mat-icon class="image" svgIcon="confetti"></mat-icon>
                    <p class="caption">Celebrate</p>
                </div>
            </div>

            <div class="spacer"></div>

            <div class="step-subtitle">
                <mat-icon class="footprints" svgIcon="human-footprints"></mat-icon>
                <h1 class="step">Step 3</h1>
                <p class="subtitle">
                    Dig into demographics
                </p>
            </div>
            <div class="italic-description">
                <p>
                    According to official fitness market research, the size of our industry globally for 2020 has a
                    $94Bn value, which includes 210,000 health and fitness clubs worldwide (data is limited to health
                    clubs and does not account for boutique studios, community recreation centers, or gyms located in
                    venues such as hotels). 183 Million Club members globally with an increase of 9 million members
                    since 2018. This data also does not include the current fitness influencers across social media
                    platforms and certified personal trainers that do not apply for memberships.
                </p>
                <p>
                    The demographic is large and segmented, meaning that there is a large opportunity for online fitness
                    platforms, to power up a whole industry with guidance and simplification. There are many alternative
                    solutions with complicated processes and low retention rates. Categorized by country, businesses,
                    personal trainers and gym-goers are on an evolving path and a solution is needed to simplify the
                    whole process.
                </p>
                <p>
                    The main channels we will be going after are as follows:
                </p>
            </div>

            <div class="spacer"></div>

            <div class="step-subtitle">
                <mat-icon class="footprints" svgIcon="human-footprints"></mat-icon>
                <h1 class="step">Step 4</h1>
                <p class="subtitle">
                    Collect customer feedback
                </p>
            </div>
            <div class="italic-description">
                <p>
                    We have started slowly and steadily collecting customer feedback with a focus on our solution. The
                    development process will take place around our main channels.
                </p>
                <p>
                    Customer feedback has been provided by personal trainers (20%) and gym-goers (80%) with a weekly
                    200-survey response rate
                </p>
            </div>

            <div class="spacer"></div>

            <div class="step-subtitle">
                <mat-icon class="footprints" svgIcon="human-footprints"></mat-icon>
                <h1 class="step">Step 5</h1>
                <p class="subtitle">
                    Examine contextual details
                </p>
            </div>
            <p class="italic-description">
                The main principle before building our platform is to find out how people are attracted to the idea of
                becoming healthy when it is at the least of their focus. And what better way to do it than in a
                situation where the whole globe is affected negatively and everyone is looking for an alternative to
                either grow economically, physically, or mentally and if we take a look at our core channels from our
                surveys, we can determine that both groups have been affected and they are both looking to improve their
                quality of life.
            </p>

            <div class="spacer"></div>

            <div class="step-subtitle">
                <mat-icon class="footprints" svgIcon="human-footprints"></mat-icon>
                <h1 class="step">Step 6</h1>
                <p class="subtitle">
                    Understanding our industry
                </p>
            </div>
            <p class="italic-description">
                Probably the first thing that comes in our mind when we hear “fitness” is a personal trainer who guides
                a person to exercise. Fitness is a billion of dollars industry and it is more than personal trainers and
                gyms, now this industry is more complex than ever consisting of exercise DVDs and internet clips,
                magazines, supplements, doctors, nutritionists, dedicated gym and home equipment, but now a revolution
                is happening because of the mobile platforms and social media.
            </p>

            <div class="spacer"></div>

            <div class="step-subtitle">
                <mat-icon class="footprints" svgIcon="human-footprints"></mat-icon>
                <h1 class="step">Step 7</h1>
                <p class="subtitle">
                    Building personas
                </p>
            </div>
            <p class="italic-description">
                Building buyer personas is a great way to understand the target customers for adopting the right
                marketing strategy. People have different needs, opinions, pain points, and challenges and we need to
                understand all of them to get their attention. A buyer persona is a more specific model compared to the
                target audience, where the general data are used for identification. We have identified these pinpoints
                from our surveys mostly from fitness influencers on Facebook and Instagram, avid gym-goers as well as
                family and friends that play with the idea of being/becoming fit.
            </p>

            <div class="spacer"></div>

            <div class="step-subtitle">
                <mat-icon class="footprints" svgIcon="human-footprints"></mat-icon>
                <h1 class="step">Step 8</h1>
                <p class="subtitle">
                    Analyzing and iterating on customer personas
                </p>
            </div>
            <div class="italic-description">
                <p>
                    Our main target audience has been classified into two main channels, gym-goers, and personal
                    trainers. These categories are also split into multiple subcategories.
                </p>
                <p>
                    <b>Gym-goers</b> seek ways to improve their fitness by getting guided assistance from professionals
                    whether it is culinary or training advice, at home, in the gym, or outside.
                </p>
                <p>
                    <b>Personal Trainers</b> are split according to their experience and other relevant categories. As
                    they have progressed through our survey we conclude that most of them are looking for ways to better
                    interact with their customers.
                </p>
                <p>
                    Both groups are looking for a way of interacting with each other on a platform that gives them a
                    means of communication as well as tracking performance whether it is from nutritional and training
                    advice to habit coaching. The initial models will be created using the data in the survey. The next
                    iterations will be based on the data collected by the application, starting with the prototype.
                </p>
            </div>
        </div>
    </section>

    <div class="spacer"></div>

    <section>
        <p class="title">How the product was affected by the results of the questionnaire?</p>
        <div class="content text-left">
            Starting from the identified target audience (all persons desiring to be guided when are performing
            exercises at home) we can split this big category in multiple subcategories: people who need to lose a big
            amount of weight (nutritional and training advices needed), regular weighted persons who desire to be more
            athletic (training advice), persons who desire to give up a bad eating habit (nutritional advice and habits
            trackers). The initial models will be created using the data in the survey. The next iterations will be
            based on the data collected by application, starting with the prototype.
        </div>
    </section>

    <div class="spacer"></div>

    <section>
        <p class="title">Are we ready to make the first sell?</p>
        <div class="content text-left">
            As we approach new deadlines we can definitely see how our platform is growing with us as well as the people
            who we get feedback from. We are happy about our constant progress and we work hard to have a prototype
            soon, with a new wave of analytics to help guide us in giving the people a platform that they need, simple
            and motivating.
        </div>
    </section>

    <div class="spacer"></div>
    <div class="spacer"></div>
</div>