<div id="milestone2" class="milestone2-container">
    <div class="milestone2">
        <h1>M2</h1>
    </div>
    <br>
    <h1>Idea Validation</h1>

    <div class="spacer"></div>

    <div class="introduction">
        <div class="text">
            <p>The idea validation is one of the most important stages when creating a start-up. We have questioned more
                than 230 persons using Google Forms questionnaires, aged between 14 and 50 years, males and females,
                certified trainers, and regular persons. We have collected their feedback, we had conversations beside
                the
                questionnaires, we listened to their stories and hopefully, we understood their necessities, pains, and
                desires.</p>
        </div>

        <div class="screenshots-container">
            <div class="screenshots">
                <img src="../../assets/images/wapp1.jpeg">
            </div>

            <div class="screenshots">
                <img src="../../assets/images/wapp2.jpeg">
            </div>

            <div class="screenshots">
                <img src="../../assets/images/wapp3.jpeg">
            </div>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="spacer"></div>


    <div class="survey-conclusion">
        <h1 class="section-title">
            Conclusions on the survey results
        </h1>
        
        <div class="row">
            <div class="card-left">
                <div class="card-title">Our users</div>
                <p>Non-active and active gym-goers make the most out of our survey with personal trainers coming in at a
                    third of the completion rate.</p>
            </div>
            <div class="card-right">
                <div class="card-title">Motivation factors for our users</div>
                <p>
                    As the survey is distributed throughout, we will find out more conclusive data that revolves around
                    health issues and unhealthy habits. Now, none of the survey takers have any health issues though
                    most seem to rely on unhealthy habits to cope with stressful situations, which the pandemic has
                    aggravated in one way or another by making us more sedentary, consume chaotically, dealing with
                    weight gain, and having to deal with stress increase.
                </p>
                <br>
                <p>
                    All of these negative impacts have made most lose grip on the great habits that they have created
                    and few people still deal with lack of motivation and the thought of having to put in the time and
                    effort back into maintaining a clean diet and to get in shape.
                </p>
                <br>
                <p>
                    Our app will allow Personal trainers to take charge in stressful situations and gain back the
                    control lost with this pandemic, as 50% of the PT community has been affected negatively, and 49% of
                    them either changed paths or ended their careers altogether.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="card-left">
                <div class="card-title">Willing to stop</div>
                <p> <b>Personal trainers</b> have the will power and determination to keep going even after they have
                    hit a hard
                    stop when it comes to their careers. They usually keep going to the gym or continue to work out at
                    home if necessary.</p>
                <br>
                <p>Their drive to be certified as a personal trainer is what sets them apart from average gym-goers.</p>
            </div>
            <div class="card-right">
                <div class="card-title">Features</div>
                <p>The most <b>used features</b> of any fitness app would be:</p>
                <div class="icons-container">
                    <div class="feature">
                        <mat-icon class="training-icon" svgIcon="training2" aria-hidden="false"></mat-icon>
                        <p></p>
                    </div>
                </div>
                <p>The most <b>useless features</b> on apps are ones with:</p>
            </div>
        </div>

        <div class="row">
            <div class="card-left">
                <div class="card-title">Average age</div>
                <p>
                    <b>Gym goers</b> and <b>Personal Trainers</b> will be one of the initial sources that will spin the
                    wheel when it
                    comes to personal training and services used on our app.
                </p>
                <br>
                <p>
                    The average age is conclusive as most of the survey takers that are at the beginning of their road
                    when it comes to fitness, seem to revolve around that age bracket (22-23). With personal trainers
                    ranging from 19 to 45 years old and the average age of 27.
                </p>
            </div>
            <div class="card-right">
                <div class="card-title">Consuming time and money</div>
                <p>
                    The average days of gym attendance throughout our study group stays at around <b>3 days a week</b>
                    with
                    levels starting at Beginner (27.6%), Intermediate (52.9%), and Advanced (13.8%) with goals ranging
                    from, getting skinny, becoming toned, or trying to put on muscle.
                </p>
                <br>
                <p>
                    The average monthly fitness budget overall revolves around <b>300 RON</b> with variations ranging
                    from 50
                    to 1000 RON.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="card-left">
                <div class="card-title">Cost expectations</div>
                <p>
                    <b>Personal trainers</b> have a higher tendency to spend more on fitness-related purchases, which
                    makes
                    them have higher financial expectations when it comes to offering services.
                </p>
                <br>
                <p>
                    Cost expectations for time devoted to creating content and holding online sessions with clients
                    estimate around <b>30-50 RON per session</b> to thousands per month depending on the time invested.
                </p>
            </div>
            <div class="card-right">
                <div class="card-title">Online resources used</div>
                <p>
                    60% of the gym-goers have used an app for tracking calories, fitness journaling, watching demo
                    videos, or reading up on detailed information often appreciating the ease of use throughout the
                    process. 81% of people looked for an app that <b>brought them guidance</b> from professional
                    athletes.
                </p>
                <br>
                <p>
                    Personal Trainers seek out apps that not only offer them a database of fitness tools such as
                    tutorials, nutrition guides, statistic profiles, and content creating. They also look for apps that
                    allow them to <b>customize</b> everything that helps them or their customers.
                </p>
            </div>
        </div>

    </div>

    <div class="spacer"></div>



    <section>
        <p class="title">
            Identifying the problem
        </p>
        <div class="content">
            <div class="row-problem">
                <div class="info-text">
                    Personal Trainers and Gym goers are constantly using old technology like spreadsheets, notes,
                    notebooks, messages and pdf files in order to keep track of and maintain a healthy lifestyle. In
                    order to grow and develop, you need to keep track of change and any constant change must be compared
                    to the past in order to distinguish great from good and good from poor.
                </div>
                <div class="divider"></div>
                <mat-icon class="icon" svgIcon="contract"></mat-icon>
            </div>
            <div class="row-problem">
                <div class="info-text">
                    Let’s take a few examples and begin with powerlifting. There are many newcomers that come to the gym
                    after watching a few videos online about certain exercises, deadlifts and squats for example. They
                    begin to work out not knowing that they have poor form due to lack of building muscle to support
                    bone structure and they end up hurting themselves or even worse causing permanent injury. </div>
                <div class="divider"></div>
                <mat-icon class="icon" svgIcon="broken-bone"></mat-icon>
            </div>
            <div class="row-problem">
                <div class="info-text">
                    The same theory applies when it comes to dieting and healthy eating. People end up causing permanent
                    damage to their bodies trying to lose those extra pounds and after they finish the process, either
                    they end up back to binge eating due to psychological stress or starving himself or herself without
                    knowing the proper education on how to diet.
                </div>
                <div class="divider"></div>
                <mat-icon class="icon" svgIcon="fatigue"></mat-icon>
            </div>
        </div>
    </section>

    <div class="spacer"></div>

    <section>
        <p class="title">
            The solution
        </p>
        <div class="content">
            <div class="row-solution">
                <mat-icon class="icon" svgIcon="motivation"></mat-icon>
                <div class="divider"></div>
                <div class="info-text">
                    We offer all of our prospects a motivator.
                </div>
            </div>
            <div class="row-solution">
                <mat-icon class="icon" svgIcon="platform"></mat-icon>
                <div class="divider"></div>
                <div class="info-text">
                    A platform that insures a digital medium of communication between professional heath instructors as well as a tool that allows them to keep track of goals, schedules, conversations, documentation, payments, nutrition, personal transformation and much more.
                </div>
            </div>
            <div class="row-solution">
                <mat-icon class="icon" svgIcon="social-care"></mat-icon>
                <div class="divider"></div>
                <div class="info-text">
                    Support is guaranteed each step of the way by certified personnel in each category whether a client needs a personal trainer or a nutritionist. Alternatively, if a client needs to keep track of their goals so that they do not lose sight of why they started their journey in the first place.
                </div>
            </div>
        </div>
    </section>
</div>