.milestone2-container {

    .milestone-title {
        
        h1 {
            font-weight: 800;
            font-size: 60px;
            color: #c9c9c9;
        }
    }

}

#milestone2 {
    scroll-margin-top: 100px;
}