@import "_config.scss";

mat-toolbar {
    padding-left: 10%;
    padding-right: 10%;
    position: fixed;
    top: 0%;
    z-index: 100;
    box-shadow: 0px 1px 7px -1px rgba(0, 0, 0, 0.25);
    height: 55px;

    mat-icon {
        @include md-icon-size(40px);
    }

    .logo {
        margin-right: 40px;
        font-family: 'Fugaz One', cursive;
        font-size: 26px;
    }

    .motto {
        margin-left: 40px;
        font-family: 'Montserrat', sans-serif;
    }

    .spacer {
        flex: 1 1 auto;
    }

    .team-button {
        @media screen and (max-width: 960px) {
            visibility: hidden;
        }
    }
}

mat-sidenav-container {
    scrollbar-width: none;
    background-color: whitesmoke;

    mat-sidenav {
        background-color: whitesmoke;
        overflow: hidden;
        height: 80%;
        min-height: 500px;
        padding-top: 55px;
        margin: auto 0px;
    }
     
    mat-sidenav-content {
        background-color: whitesmoke;
        
        .center {
            width: 80%;
            margin: 0 auto;
            text-align: center;
        }
    }
}
