<div id="milestone3" class="milestone3-container">
    <div class="milestone3">
        <h1>M3</h1>
    </div>
    <br>
    <h1>Mock-up design</h1>

    <div class="spacer"></div>

    <div class="subtitle text-left">Features</div>
    <div class="features">
        <div class="feature-card">
            <div class="title">Trainees</div>
            <div class="subfeatures">
                <div class="subfeature">
                    <mat-icon svgIcon="chat" class="subfeature-icon"></mat-icon>
                    <div class="subfeature-name">Chat</div>
                    <ul class="subfeature-items">
                        <li>text messages</li>
                        <li>photo messages</li>
                        <li>audio messages</li>
                        <li>video calls</li>
                        <li>receive workouts</li>
                        <li>stats after workouts</li>
                        <li>receive challenges</li>
                    </ul>
                </div>

                <div class="subfeature">
                    <mat-icon svgIcon="training-red" class="subfeature-icon"></mat-icon>
                    <div class="subfeature-name">Training</div>
                    <ul class="subfeature-items">
                        <li>find and buy training packages</li>
                        <li>hire personal trainers</li>
                        <li>workouts personalization</li>
                        <li>view public challenges</li>
                        <li>interact with public challenges</li>
                    </ul>
                </div>

                <div class="subfeature">
                    <mat-icon svgIcon="resume" class="subfeature-icon"></mat-icon>
                    <div class="subfeature-name">Profile</div>
                    <ul class="subfeature-items">
                        <li>personal info</li>
                        <li>fitness progress</li>
                        <li>in-app coins</li>    
                    </ul>
                </div>
            </div>
        </div>

        <div class="feature-card">
            <div class="title">Personal Trainer</div>
            <div class="subfeatures">
                <div class="subfeature">
                    <mat-icon svgIcon="chat" class="subfeature-icon"></mat-icon>
                    <div class="subfeature-name">Chat</div>
                    <ul class="subfeature-items">
                        <li>text messages</li>
                        <li>photo messages</li>
                        <li>audio messages</li>
                        <li>video calls</li>
                        <li>send workouts</li>
                        <li>receive stats after client's workouts</li>
                        <li>send challenges</li>
                    </ul>
                </div>

                <div class="subfeature">
                    <mat-icon svgIcon="training-red" class="subfeature-icon"></mat-icon>
                    <div class="subfeature-name">Training</div>
                    <ul class="subfeature-items">
                        <li>create training packages</li>
                        <li>create hiring packages</li>
                        <li>create challenges</li>
                        <li>view public challenges</li>
                        <li>interact with public challenges</li>
                    </ul>
                </div>

                <div class="subfeature">
                    <mat-icon svgIcon="resume" class="subfeature-icon"></mat-icon>
                    <div class="subfeature-name">Profile</div>
                    <ul class="subfeature-items">
                        <li>personal info</li>
                        <li>fitness progress</li>
                        <li>in-app coins</li>    
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="subtitle text-left">Sketches</div>

    <mat-carousel
        timings="250ms ease-in"
        [autoplay]="false"
        interval="5000"
        color="accent"
        maxWidth="auto"
        [maintainAspectRatio]="false"
        slideHeight="600px"
        [loop]="true"
        [hideArrows]="false"
        [hideIndicators]="true"
        [useKeyboard]="true"
        [useMouseWheel]="false"
        orientation="ltr">

        <mat-carousel-slide
            #matCarouselSlide
            *ngFor="let image of imagesSketches"
            [hideOverlay]="true">
            <img [src]="image" height="600" />
        </mat-carousel-slide>
    </mat-carousel>


    <div class="spacer"></div>

    <div class="subtitle text-left">Wireframes</div>

    <mat-carousel
        timings="250ms ease-in"
        [autoplay]="false"
        interval="5000"
        color="accent"
        maxWidth="auto"
        [maintainAspectRatio]="false"
        slideHeight="700px"
        [loop]="true"
        [hideArrows]="false"
        [hideIndicators]="true"
        [useKeyboard]="true"
        [useMouseWheel]="false"
        orientation="ltr">

        <mat-carousel-slide
            #matCarouselSlide
            *ngFor="let image of imagesWireframes"
            [hideOverlay]="true">
            <img [src]="image" height="700" />
        </mat-carousel-slide>
    </mat-carousel>

    <div class="spacer"></div>
</div>