<div id="milestone6" class="milestone6-container">
    <div class="milestone6">
        <h1>M6</h1>
    </div>
    <br>
    <h1>Market Research</h1>

    <div class="introduction">
        <div class="text">
            <p>According to official fitness market research, the <b>size of our industry</b> globally for 2020 has a <b>$94Bn</b> value, which includes 210,000 health and fitness clubs worldwide (data is limited to health clubs and does not account for
                boutique studios, community recreation centers, or gyms located in venues such as hotels). 183 Million Club members globally with an increase of 9 million members since 2018. This data also does not include the current fitness influencers
                across social media platforms and certified personal trainers that do not apply for memberships.</p>
            <p>
                <b>The Global Fitness App Market</b> is expected to grow <b>from $3,3 Billion</b> in 2019 <b>to $13 Billion</b> by the end of 2025 at a Compound Annual Growth Rate (CAGR) of 25.61%.
            </p>

            <div class="m6-list">
                <div class="m6-list-container">
                    <p><b>Global Fitness App Market</b> with impact by major apps:</p>
                    <ul>
                        <li>Aaptiv Inc.</li>
                        <li>Adidas AG</li>
                        <li>Azumio Inc</li>
                        <li>Daily Workout Apps, LLC</li>
                        <li>Fitbit Inc.</li>
                        <li>Fooducate Ltd</li>
                        <li>Garmin Ltd</li>
                        <li>Google LLC</li>
                        <li>Nike Inc</li>
                        <li>Noom Inc.</li>
                        <li>Polar Electro Oy</li>
                        <li>Runkeeper</li>
                        <li>Runtastic GmbH</li>
                        <li>Samsung Electronics Co., Ltd.</li>
                        <li>Sports Tracking Technologies</li>
                        <li>Under Armour Inc</li>
                        <li>Wahoo Fitness LLC</li>
                    </ul>
                </div>
            </div>

            <div class="spacer"></div>
            <p>We have identified multiple competitors on our market sub-segment on the international level, but no competitors in Romania. The following data represent our international competitors:</p>
        </div>
    </div>

    <div class="m6-table1">
        <table class="table table-sm">
            <thead>
                <tr>
                    <td class="table-title"><b>Competitor</b></td>
                    <td class="table-title"><b>Revenue (M$)</b></td>
                    <td class="table-title"><b>No employees</b></td>
                    <td class="table-title"><b>Downloads</b></td>
                    <td class="table-title"><b>Keywords</b></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>Trainerize</b></td>
                    <td>1.8</td>
                    <td>9</td>
                    <td>100000</td>
                    <td>fitness,software, b2c, internet healthcare software as a service trainer</td>
                </tr>
                <tr>
                    <td><b>TrueCoach</b></td>
                    <td>1</td>
                    <td>3</td>
                    <td>10000</td>
                    <td>fitness personal training platform b2c healthcare sports wellness true coach personal trainer software personal training software personal trainer platform </td>
                </tr>
                <tr>
                    <td><b>PT Distinction</b></td>
                    <td>6.3</td>
                    <td>30</td>
                    <td>10000</td>
                    <td>software, B2C, education, fitness, internet of things, trainers, coaching</td>
                </tr>
                <tr>
                    <td><b>PT Minder</b></td>
                    <td>1</td>
                    <td>2</td>
                    <td>10000</td>
                    <td>software fitness internet software as a service software development and design training business trainers</td>
                </tr>
                <tr>
                    <td><b>My Online Coach / TotalCoaching inc</b></td>
                    <td>2</td>
                    <td>20</td>
                    <td>5000</td>
                    <td>training b2c fitness sports sports teams and leagues hospitality coaching</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="introduction">
        <div class="text">
            <p>In the following table different pricing options for each competitor are exposed:
            </p>
        </div>

        <div class="m6-table1 m6-table2">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <td class="table-title"><b>Trainerize</b></td>
                        <td class="table-title"><b>TrueCoach</b></td>
                        <td class="table-title"><b>PT Distinction</b></td>
                        <td class="table-title"><b>PT Minder</b></td>
                        <td class="table-title"><b>My Online Coach / TotalCoaching inc</b></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Free</td>
                        <td>Trial</td>
                        <td>Trial</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>5$</td>
                        <td>19$</td>
                        <td>19.9$</td>
                        <td>36$</td>
                        <td>14$</td>
                    </tr>
                    <tr>
                        <td>20$</td>
                        <td>49$</td>
                        <td>60$</td>
                        <td>47$</td>
                        <td>25$</td>
                    </tr>
                    <tr>
                        <td>250$</td>
                        <td>99$</td>
                        <td>80$</td>
                        <td>63$</td>
                        <td>45$</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>79$</td>
                        <td>65$</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>110$</td>
                        <td>90$</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>120$</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>219$</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="text">
            <p>Competitor analysis based on current market evaluation for fitness apps in our category:</p>

            <div class="m6-list m6-list2">
                <div class="m6-list-container">
                    <ul>
                        <li>PT Distinction - $6.3 Million</li>
                        <li>My Online Coach / TotalCoaching inc - $2 Million</li>
                        <li>Trainerize - $1.8 Million</li>
                        <li>TrueCoach - $1 Million</li>
                        <li>PT Minder - $1 Million</li>
                    </ul>
                </div>
            </div>

            <p>Current competitor revenue reach has a <b>$12.1 Million</b> market valuation until 2020. Which will be expected to grow by market standards by 25% by 2025. This will bring the total valuation of our competitors to <b>$15.1 Million</b>.</p>
        </div>

        <h2 class="subtitle">Marker Research</h2>
        <h2 class="subsubtitle">General</h2>

        <h3>Based on a research made on Romania in 2019-2020 regarding the fitness industry, we collected existent numbers of potential trainers and trainees that will benefit from our app.</h3>

        <div class="m6-table1 m6-table3">
            <table class="table table-sm">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>Certified trainers - Stats from 2019</td>
                        <td><b>13,921</b></td>
                    </tr>
                    <tr>
                        <td>Statistics Based on 2018 Research</td>
                        <td>350 K gym customers</td>
                    </tr>
                    <tr>
                        <td>Projections until 2024</td>
                        <td>800 K gym customers</td>
                    </tr>
                    <tr>
                        <td>Average number of clients per trainer</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <td>Consistent personal trainer clients</td>
                        <td><b>111.368</b></td>
                    </tr>
                    <tr>
                        <td>People that have or have had a personal trainer</td>
                        <td>1 out of 3 out of 350,000</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h2 class="subsubtitle">Vim Fit Numbers</h2>

        <h3>As the below table shows, our approximation for the first year of usage is of <b>125K</b> users, both trainers and trainees. Based on the surveys on potential clients that we previously did, we calculated the lowest and gratest prices for training
            packages and hiring packages. We tried to get a grater interval for the prices, to make sure that the scenarios are realistic enough. </h3>

        <div class="m6-table1 m6-table3">
            <table class="table table-sm">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>Target market for VimFit in Romania - Based on the General research</td>
                        <td>125K Users</td>
                    </tr>
                    <tr>
                        <td>Pricing per training package based on surveys</td>
                        <td>$7-$12</td>
                    </tr>
                    <tr>
                        <td>Pricing per hiring packages based on surveys</td>
                        <td>$25 - $300</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h2 class="subsubtitle">Vim Fit Projections</h2>
        <h3>All estimates have been made using facebook analytics to create a campaign with the folowing attributes:</h3>

        <div class="m6-table1 m6-table3">
            <table class="table table-sm">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>Location - living in Romania</td>
                        <td>Age 18 - 65+</td>
                    </tr>
                    <tr>
                        <td>Impact based on atributes</td>
                        <td>8.8 Million Users</td>
                    </tr>
                    <tr>
                        <td><b>Budget</b></td>
                        <td><b>$250 per day</b></td>
                    </tr>
                    <tr>
                        <td>Impact based on budget</td>
                        <td>50,5k people - 146k people</td>
                    </tr>
                    <tr>
                        <td>Link clicks based on budget</td>
                        <td>2.600 to 7.400</td>
                    </tr>
                    <tr>
                        <td>App Downloads</td>
                        <td>2.600 to 7.400</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h2 class="subsubtitle">App Download Estimations</h2>

        <h3>We created estimations based on the current situation of the fitness oriented apps, that offer fitness services, not just fitness monitoring.</h3>

        <div class="m6-table1 m6-table3">
            <table class="table table-sm">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>Trainers</td>
                        <td>12.50%</td>
                    </tr>
                    <tr>
                        <td>Gym Members</td>
                        <td>87.50%</td>
                    </tr>
                    <tr>
                        <td>#Trainers - based on the number of the estimated app downloads</td>
                        <td>325 - 925</td>
                    </tr>
                    <tr>
                        <td>#Gym Members - based on the number of the estimated app downloads</td>
                        <td>2.275 - 6.475</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h2 class="subtitle">Package Details</h2>

        <h3>Based on the surveys that we previously did, we gathered information about past experiences of people from trainees and fitness trainers, regarding the costs of different services and we created a pricing scheme for our app. When calculating the
            price, we also considered the prices that apps with similar services have, as seen in the research from above, but correlated to Romania. As a commission, we chose 20% as being a popular technique in this area of apps.</h3>

        <h2 class="subsubtitle">General Packages</h2>


        <div class="m6-table1 m6-table3">
            <table class="table table-sm">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>Percentage of revenue for VIMfit out of packages sold</td>
                        <td>20%</td>
                    </tr>
                    <tr>
                        <td>Minimum packages per trainer</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Package purchases <b>monthly</b></td>
                        <td>1-4</td>
                    </tr>
                    <tr>
                        <td>Price of general packages</td>
                        <td>$7-$10</td>
                    </tr>
                    <tr>
                        <td>Packages sold <b>monthly</b> based on the number of downloads - WBC Scenario</td>
                        <td>2.275 - 25.900</td>
                    </tr>
                    <tr>
                        <td>Overall <b>monthly</b> revenue for packages based on the number of downloads - WBC Scenario</td>
                        <td>$15.925 - $310.800</td>
                    </tr>
                    <tr>
                        <td>20% Package revenue for VIMfit <b>monthly</b> - WBC Scenario (1/30 decide to purchase)</td>
                        <td>$12.740 - $62.160</td>
                    </tr>
                    <tr>
                        <td>20% Package revenue for VIMfit <b>monthly</b> - WBC Scenario (1/10 decide to purchase)</td>
                        <td>$38.220 - $186.480</td>
                    </tr>
                    <tr>
                        <td>Package revenue for VIMfit <b>Yearly</b> - WBC Scenario</td>
                        <td><b>$152.880 - $2.237,760</b>></td>
                    </tr>
                    <tr>
                        <td>Package revenue for VIMfit <b>5 Years</b>- WBC Scenario</td>
                        <td><b>$764.400 - $11.188.800</b></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h2 class="subsubtitle">Hiring Packages</h2>
        <p><i> The below predictions are based on the affirmation that 2 out of 8 trainer clients will purchase hiring packages monthly </i></p>

        <div class="m6-table1 m6-table3">
            <table class="table table-sm">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>Percentage of revenue for VIMfit out of packages sold</td>
                        <td>20%</td>
                    </tr>
                    <tr>
                        <td>Hiring packages sold based on the number of trainees</td>
                        <td>27.842</td>
                    </tr>
                    <tr>
                        <td>Hiring packages priced between single session to max sessions (16) per month</td>
                        <td>$25 - $300</td>
                    </tr>
                    <tr>
                        <td>Overall <b>monthly</b> revenue for packages - WBC Scenario</td>
                        <td>$692.897 - $8.314.734</td>
                    </tr>
                    <tr>
                        <td>20% Package revenue for VIMfit <b>monthly</b> - WBC Scenario</td>
                        <td>$138.578 - $1.662.946</td>
                    </tr>
                    <tr>
                        <td>Hiring Package revenue for VIMfit <b>Yearly</b> - WBC Scenario</td>
                        <td><b>$1.662.936 - $19.955.352</b></td>
                    </tr>
                    <tr>
                        <td>Hiring Package revenue for VIMfit <b>5 Years</b> - WBC Scenario</td>
                        <td><b>$8.314.680 - $99.976.760</b></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h3>In conclusion, from all the calculated data, the app's revenue at the end of the first year will vary from <b>$1.815.816 - $102.214.520</b>, from both training packages and hiring packages, without considering ads or other income sources. By following
            this prediction, VIMfit app will be placed in the first 3 fitness apps regarding revenue.</h3>

    </div>
    <div class="spacer"></div>
</div>