<div id="milestone6" class="milestone6-container">
    <div class="milestone6">
        <h1>M6</h1>
    </div>
    <br>
    <h1>Market Research</h1>

    <div class="introduction">
        <div class="text">
            <p>According to official fitness market research, the <b>size of our industry</b> globally for 2020 has a <b>$94Bn</b> value, which includes 210,000 health and fitness clubs worldwide (data is limited to health clubs and does not account for
                boutique studios, community recreation centers, or gyms located in venues such as hotels). 183 Million Club members globally with an increase of 9 million members since 2018. This data also does not include the current fitness influencers
                across social media platforms and certified personal trainers that do not apply for memberships.</p>
            <p>
                <b>The Global Fitness App Market</b> is expected to grow <b>from $3,3 Billion</b> in 2019 <b>to $13 Billion</b> by the end of 2025 at a Compound Annual Growth Rate (CAGR) of 25.61%.
            </p>

            <div class="m6-list">
                <div class="m6-list-container">
                    <p><b>Global Fitness App Market</b> with impact by major apps:</p>
                    <ul>
                        <li>Aaptiv Inc.</li>
                        <li>Adidas AG</li>
                        <li>Azumio Inc</li>
                        <li>Daily Workout Apps, LLC</li>
                        <li>Fitbit Inc.</li>
                        <li>Fooducate Ltd</li>
                        <li>Garmin Ltd</li>
                        <li>Google LLC</li>
                        <li>Nike Inc</li>
                        <li>Noom Inc.</li>
                        <li>Polar Electro Oy</li>
                        <li>Runkeeper</li>
                        <li>Runtastic GmbH</li>
                        <li>Samsung Electronics Co., Ltd.</li>
                        <li>Sports Tracking Technologies</li>
                        <li>Under Armour Inc</li>
                        <li>Wahoo Fitness LLC</li>
                    </ul>
                </div>
            </div>

            <div class="spacer"></div>
            <p>We have identified multiple competitors on our market sub-segment on the international level, but no competitors in Romania. The following data represent our international competitors:</p>
        </div>
    </div>

    <div class="m6-table1">
        <table class="table table-sm">
            <thead>
                <tr>
                    <td class="table-title">Competitor</td>
                    <td class="table-title">Revenue (M$)</td>
                    <td class="table-title">No employees</td>
                    <td class="table-title">Downloads</td>
                    <td class="table-title">Keywords</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Trainerize</td>
                    <td>1.8</td>
                    <td>9</td>
                    <td>100000</td>
                    <td>fitness,software, b2c, internet healthcare software as a service trainer</td>
                </tr>
                <tr>
                    <td>TrueCoach</td>
                    <td>1</td>
                    <td>3</td>
                    <td>10000</td>
                    <td>fitness personal training platform b2c healthcare sports wellness true coach personal trainer software personal training software personal trainer platform </td>
                </tr>
                <tr>
                    <td>PT Distinction</td>
                    <td>6.3</td>
                    <td>30</td>
                    <td>10000</td>
                    <td>software, B2C, education, fitness, internet of things, trainers, coaching</td>
                </tr>
                <tr>
                    <td>PT Minder</td>
                    <td>1</td>
                    <td>2</td>
                    <td>10000</td>
                    <td>software fitness internet software as a service software development and design training business trainers</td>
                </tr>
                <tr>
                    <td>My Online Coach / TotalCoaching inc</td>
                    <td>2</td>
                    <td>20</td>
                    <td>5000</td>
                    <td>training b2c fitness sports sports teams and leagues hospitality coaching</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="introduction">
        <div class="text">
            <p>In the following table different pricing options for each competitor are exposed:
            </p>
        </div>

        <div class="m6-table1 m6-table2">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <td class="table-title">Trainerize</td>
                        <td class="table-title">TrueCoach</td>
                        <td class="table-title">PT Distinction</td>
                        <td class="table-title">PT Minder</td>
                        <td class="table-title">My Online Coach / TotalCoaching inc</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Free</td>
                        <td>Trial</td>
                        <td>Trial</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>19</td>
                        <td>19.9</td>
                        <td>36</td>
                        <td>14</td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>49</td>
                        <td>60</td>
                        <td>47</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>250</td>
                        <td>99</td>
                        <td>80</td>
                        <td>63</td>
                        <td>45</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>79</td>
                        <td>65</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>110</td>
                        <td>90</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>120</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>219</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="text">
            <p>Competitor analysis based on current market evaluation for fitness apps in our category:</p>

            <div class="m6-list m6-list2">
                <div class="m6-list-container">
                    <ul>
                        <li>Trainerize - $1.8 Million</li>
                        <li>TrueCoach - $1 Million</li>
                        <li>PT Distinction - $6.3 Million</li>
                        <li>PT Minder - $1 Million</li>
                        <li>My Online Coach / TotalCoaching inc - $2 Million</li>
                    </ul>
                </div>
            </div>

            <p>Current competitor revenue reach has a <b>$12.1 Million</b> market valuation until 2020. Which will be expected to grow by market standards by 25% by 2025. This will bring the total valuation of our competitors to <b>$15.1 Million</b>.</p>
        </div>

    </div>
    <div class="spacer"></div>
</div>