:host {
    height: 100%;
    width: 100%;
}

.milestone1-container {

    .problem-solution {
        display: flex;
        flex-wrap: wrap;
    
        .problem {
            max-width: 300px;
        }

        .spacer {
            flex-grow: 1;
        }

        .solution {
            max-width: 300px;
        }
    }

    .customers {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
        .customer-card {
            width: 200px;
            height: 200px;
            border: 1px solid black;
            border-radius: 15px;
            padding: 15px;
        }
    }

    .competitors {

        .competitors-row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            
            .competitor-card {
                width: 200px;
                height: 300px;
                border: 1px solid black;
                border-radius: 15px;
                padding: 5px;
                margin: 5px;

                a:link, a:visited {
                    color: black;
                    background-color: transparent;
                    text-decoration: underline;
                }
            }
        }
    }
    
    .lessons-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .lesson {
            width: 200px;

            .lesson-icon {
                $size: 100px;
                font-size: $size;
                height: $size;
                width: $size;
            }

            .lesson-label {
                margin-top: 10px;
                font-size: 20px;
            }
        }
    }
    .chart-container {
        // margin-left: 100px;
        // width: 700px;
        display: flex;
        justify-content: center;
    }

    .revenue-streams {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .revenue-class-card {
            width: 200px;
            border: 1px solid black;
            border-radius: 15px;
            padding: 15px;
        }
    }
}