:host {
    height: 100%;
    width: 100%;
}

.milestone1-container {
    margin-top: 100px;

    .milestone1 {

        h1 {
            font-weight: 700;
            font-size: 60px;
            color: #c9c9c9;
            margin: 0;
        }
    }

    h1 {
        color: #c9c9c9;
        font-weight: 700;
        font-size: 28px;
    }

    h2 {
        color: #404040;
    }
    
    .first-subtitle {
        font-size: 40px;
    }

    .problem-solution {
        display: flex;
        flex-wrap: wrap;
        color: #404040;
        width: 70%;
        margin: 0 auto;
        justify-content: center;

        td {
            text-align: left;
            padding: 20px;
            width: 10%;
            color: #404040;
        }

        .table-title {
            font-weight: 500;
            font-size: 25px;
            border-top: 0px;
        }

        .table-icon {
            text-align: center;
        }

        mat-icon {
            width: 78px;
            height: 78px;
        }
    }

    @media only screen and (min-width: 768px) {
        .spacer {
            height: 100px;
        }
    }

    .customer-container {
        width: 70%;
        margin: 0 auto;


        .cutomer-title {
            margin-top: 60px;
            margin-bottom: 100px;

            h1 {
                font-weight: 800;
                font-size: 60px;
                color: #A9A9A9;
            }
        }
    }

    .customers {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 60px;

        .customer-card {
            width: 300px;
            height: 350px;
            border-radius: 15px;
            margin-bottom: 30px;
            padding: 15px;
            box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 1);
            background-color: white;
            color: #404040;

            p {
                text-align: left;
                padding-left: 5%;
            }

            mat-icon {
                margin-bottom: 6%;
                width: 30%;
                height: 30%;
            }
        }
    }

    .competition-title {
        margin-top: 120px;
        margin-bottom: 100px;

        h1 {
            font-weight: 800;
            font-size: 40px;
            font-size: 60px;
            color: #A9A9A9;
        }
    }

    .competitors {
        margin-top: 60px;

        .competitors-row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            .card-container {

                .circle {
                    border: 3px solid #caebf2;
                    border-radius: 100%;
                    background-color: white;
                    height: 80px;
                    width: 80px;
                    margin: 0 auto -40px;
                    position: relative;
                    transition: all 0.3s ease-in-out 0s;

                    img {
                        object-fit: contain;
                        max-height: 100%;
                        max-width: 100%;
                        height: 100%;
                        width: auto;
                        border-radius: 100%;
                    }
                }

                .competitor-card {
                    width: 300px;
                    height: 350px;
                    border-radius: 15px;
                    padding: 5px;
                    margin-bottom: 30px;
                    box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 1);
                    background-color: white;
                    color: #404040;

                    h2 {
                        margin-top: 15%;
                        font-weight: 800;
                        font-size: 27px;
                    }

                    p {
                        font-size: 16px;
                    }

                    .downloads {
                        font-size: 20px;
                        font-weight: 500;
                    }

                    .rating-container {
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        margin-bottom: 10px;

                        .rating {
                            display: flex;
                            justify-content: center;
                            width: 35%;
                            align-items: center;

                            p {
                                font-weight: 500;
                                font-size: 23px;
                                margin: 0;
                            }

                            .stores {
                                width: 20%;
                                height: 20%;
                                margin-right: 7%;
                                margin-left: 7%;
                            }
                        }
                    }

                    .comparation-container {
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        margin-top: 30px;

                        .comparation {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            width: 50%;
                            height: 100px;

                            .text-container {
                                display: flex;
                                flex-direction: column;
                                text-align: center;

                                p {
                                    font-size: 15px;
                                }
                            }

                            .sign {
                                margin-bottom: 15px;
                            }
                        }
                    }

                    a:link,
                    a:visited {
                        color: #404040;
                        background-color: transparent;
                        text-decoration: underline;
                    }
                }

            }
        }
    }

    .knowledge {
        margin-top: 200px;
        margin-bottom: 100px;

        h1 {
            font-weight: 800;
            font-size: 40px;
            font-size: 60px;
            color: #A9A9A9;
        }
    }

    .lessons-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .lesson {
            width: 200px;
            margin: 30px;

            .lesson-icon {
                $size: 100px;
                font-size: $size;
                height: $size;
                width: $size;
            }

            .lesson-label {
                margin-top: 10px;
                font-size: 20px;
                color: #404040;
            }
        }
    }

    .honeycontainer {

        .metrics {
            margin-top: 100px;
            margin-bottom: 100px;

            h1 {
                font-weight: 800;
                font-size: 40px;
                font-size: 60px;
                color: #A9A9A9;
            }
        }

        .chart-container {
            display: flex;
            justify-content: center;
        }

        .note {
            margin-top: 50px;
            color: #404040;
            border: 0;
        }
    }

    .cost {
        margin-top: 200px;
        margin-bottom: 100px;

        h1 {
            font-weight: 800;
            font-size: 40px;
            font-size: 60px;
            color: #A9A9A9;
        }
    }

    .revenue {
        margin-top: 200px;
        margin-bottom: 100px;

        h1 {
            font-weight: 800;
            font-size: 40px;
            font-size: 60px;
            color: #A9A9A9;
        }
    }

    .revenue-streams {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .dollar-container {
            display: flex;
            align-self: center;

            width: 200px;
            margin: 30px;

            .dollar-icon {
                $size: 230px;
                font-size: $size;
                height: $size;
                width: $size;
            }
        }

        .revenue-class-card {
            width: 250px;
            border-radius: 15px;
            margin: 30px;
            padding: 15px;
            box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 1);
            background-color: white;
            color: #404040;
            margin-left: 100px;
            margin-right: 100px;
        }
    }
}

#milestone1 {
    scroll-margin-top: 100px;
}