<div class="milestone1-container">
    <div class="milestone1">
        <h1>M1</h1>
    </div>
    <br>
    <h1>Fiki and project description</h1>
    <h2>VIMFit - your daily fitness motivation</h2>

    <div class="problem-solution">
        <div class="problem">
            <h2>Problem</h2>
            <p>The lack of education (TBD) from health care professionals to end clients/patients amounts to the main
                decision whether to start a healthy lifestyle or not.</p>
            <p>There is no free platform where “professional lifestyle coaches” can enable a population to start making
                healthier life choices.</p>
            <p>While COVID is making a rampant change in the world economy, one of the industries suffering the most is
                the fitness industry. With gyms closing down and re-opening for short periods of time before another
                spike hits. People are looking for new ways to keep or get in shape from home or in a safe environment
                with the guidance of a professional lifestyle coach.</p>
        </div>
        <div class="spacer"></div>
        <div class="solution">
            <h2>Solution</h2>
            <p>Habitual learning at its peak with input from health professionals from all over the world.</p>
            <p>Free guidance and support from a community with a global outreach.</p>
            <p>During COVID with adults spending more time at home, VIMFit will be taking this opportunity to entice new
                users to stay active and healthy with mass health analysis triggered by country, age, ethnic background,
                or gender.</p>
        </div>
    </div>

    <br>
    <div class="spacer"></div>
    <div>
        <div class="cutomer-title">
            <h1>Our customers</h1>
        </div>
        <div class="customers">
            <div class="customer-card">
                <h2>Health professionals</h2>
                <p>Personal Trainers</p>
                <p>Nutritionists</p>
                <p>Health Care Practitioner</p>
            </div>
            <div class="customer-card">
                <h2>Main Service Users</h2>
                <p>Students (15-20)</p>
                <p>Young Adults (20-28)</p>
                <p>Adults (28-45)</p>
                <p>Senior (45+)</p>
            </div>
            <div class="customer-card">
                <h2>B2B Enterprise</h2>
                <p>Gyms</p>
                <p>Supplement Companies</p>
                <p>Advertisers</p>
            </div>
        </div>
    </div>
    <br>
    <div class="spacer"></div>
    <div>
        <div class="competition-title">
            <h1>Competition</h1>
        </div>
        <div class="competitors">
            <div class="competitors-row">
                <div class="competitor-card">
                    <!-- <div class="logo-container"></div> -->
                    <h2><a href="https://play.google.com/store/apps/details?id=com.trainerize.Trainerize"
                            target="_blank">Treinerize</a></h2>
                    <p> 100.000+ downloads </p>
                    <p>3.3<mat-icon [ngStyle]="{'color':'#DFCF01'}" inline>star</mat-icon> Google Play Store</p>
                    <p>3.9<mat-icon [ngStyle]="{'color':'#DFCF01'}" inline>star</mat-icon> App Store</p>
                    <p>
                        <mat-icon [ngStyle]="{'color':'#808000'}" inline>add</mat-icon> Good exercise database
                    </p>
                    <p>
                        <mat-icon [ngStyle]="{'color':'#808000'}" inline>add</mat-icon> Auto-generated nutrition plans
                    </p>
                    <p>
                        <mat-icon [ngStyle]="{'color':'#ff3b3f'}" inline>remove</mat-icon> Not optimized for mobile
                    </p>
                    <p>
                        <mat-icon [ngStyle]="{'color':'#ff3b3f'}" inline>remove</mat-icon> Confusing UI
                    </p>
                </div>
                <div class="competitor-card">
                    <h2><a href="https://play.google.com/store/apps/details?id=com.truecoachmessenger"
                            target="_blank">True Coach</a></h2>
                    <p> 10.000+ downloads </p>
                    <p>1.6<mat-icon [ngStyle]="{'color':'#DFCF01'}" inline>star</mat-icon> Google Play Store</p>
                    <p>
                        <mat-icon [ngStyle]="{'color':'#808000'}" inline>add</mat-icon> Seamless trainer/customer
                        transfers
                    </p>
                    <p>
                        <mat-icon [ngStyle]="{'color':'#ff3b3f'}" inline>remove</mat-icon> No iPhone app
                    </p>
                    <p>
                        <mat-icon [ngStyle]="{'color':'#ff3b3f'}" inline>remove</mat-icon> Not optimized for mobile
                    </p>
                    <p>
                        <mat-icon [ngStyle]="{'color':'#ff3b3f'}" inline>remove</mat-icon> Pricy
                    </p>
                </div>
                <div class="competitor-card">
                    <h2><a href="https://play.google.com/store/apps/details?id=com.ptdistinction" target="_blank">PT
                            Distinction</a></h2>
                    <p> 10.000+ downloads </p>
                    <p>3.4<mat-icon [ngStyle]="{'color':'#DFCF01'}" inline>star</mat-icon> Google Play Store</p>
                    <p>3.5<mat-icon [ngStyle]="{'color':'#DFCF01'}" inline>star</mat-icon> App Store</p>
                    <p>
                        <mat-icon [ngStyle]="{'color':'#808000'}" inline>add</mat-icon> Daily habits
                    </p>
                    <p>
                        <mat-icon [ngStyle]="{'color':'#808000'}" inline>add</mat-icon> Coach/client integration
                    </p>
                    <p>
                        <mat-icon [ngStyle]="{'color':'#ff3b3f'}" inline>remove</mat-icon> Not optimized for mobile
                    </p>
                    <p>
                        <mat-icon [ngStyle]="{'color':'#ff3b3f'}" inline>remove</mat-icon> Lacks support
                    </p>
                </div>
            </div>
            <br>
            <div class="competitors-row">
                <div class="competitor-card">
                    <h2><a href="https://www.totalcoaching.com/en/" target="_blank">Total Coaching</a></h2>
                    <p> 5.000+ downloads </p>
                    <p>? <mat-icon [ngStyle]="{'color':'#DFCF01'}" inline>star</mat-icon> - Little to no reviews</p>
                    <p>
                        <mat-icon [ngStyle]="{'color':'#808000'}" inline>add</mat-icon> Good exercise database
                    </p>
                    <p>
                        <mat-icon [ngStyle]="{'color':'#ff3b3f'}" inline>remove</mat-icon> Not optimized for mobile
                    </p>
                    <p>
                        <mat-icon [ngStyle]="{'color':'#ff3b3f'}" inline>remove</mat-icon> No integrations
                    </p>
                </div>

                <div class="competitor-card">
                    <h2><a href="https://www.ptminder.com/" target="_blank">PT Minder</a></h2>
                    <p> 10.000+ downloads </p>
                    <p>3.8<mat-icon [ngStyle]="{'color':'#DFCF01'}" inline>star</mat-icon> Google Play Store</p>
                    <p>3.5<mat-icon [ngStyle]="{'color':'#DFCF01'}" inline>star</mat-icon> App Store</p>
                    <p>
                        <mat-icon [ngStyle]="{'color':'#808000'}" inline>add</mat-icon> Implements customer feedback
                    </p>
                    <p>
                        <mat-icon [ngStyle]="{'color':'#ff3b3f'}" inline>remove</mat-icon> Not optimized for mobile
                    </p>
                    <p>
                        <mat-icon [ngStyle]="{'color':'#ff3b3f'}" inline>remove</mat-icon> Hard to set up an account
                    </p>
                </div>
            </div>
        </div>
        <br>
    </div>

    <br>
    <div>
        <div class="knowledge">
            <h1>What we've learned</h1>
        </div>
        <div class="lessons-row">
            <div class="lesson">
                <mat-icon class="lesson-icon" color="accent" svgIcon="training" aria-hidden="false"></mat-icon>
                <div class="lesson-label">Free training packages</div>
            </div>
            <div class="lesson">
                <mat-icon class="lesson-icon" color="accent" svgIcon="bill" aria-hidden="false"></mat-icon>
                <div class="lesson-label">Make billing clear</div>
            </div>
            <div class="lesson">
                <mat-icon class="lesson-icon" color="accent" svgIcon="communication" aria-hidden="false"></mat-icon>
                <div class="lesson-label">Create a supportive community</div>
            </div>
        </div>
        <br><br>
        <div class="lessons-row">
            <div class="lesson">
                <mat-icon class="lesson-icon" color="accent" svgIcon="habits" aria-hidden="false"></mat-icon>
                <div class="lesson-label">Good habitual learning</div>
            </div>
            <div class="lesson">
                <mat-icon class="lesson-icon" color="accent" svgIcon="click" aria-hidden="false"></mat-icon>
                <div class="lesson-label">Ease of use</div>
            </div>
        </div>
    </div>
    <br><br><br>
    <div>
        <div class="metrics">
            <h1>Key metrics</h1>
        </div>
        <div class="chart-container">
            <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="metrics" [tooltipDisabled]="true"
                [labels]="true" [trimLabels]="false" maxLabelLength="1000">
            </ngx-charts-pie-chart>
        </div>
    </div>

    <br>
    <div>
        <div class="cost">
            <h1>Cost structure</h1>
        </div>
        <div class="chart-container">
            <ngx-charts-pie-grid [view]="view" [scheme]="colorScheme" [results]="costs" label="Cost $">
            </ngx-charts-pie-grid>
        </div>
        <p class="note">* The cost structure was calculated on a 5 years time frame and the total estimated sum is
            947,121.72€</p>
    </div>

    <br>
    <div>
        <div class="revenue">
            <h1>Revenue Streams</h1>
        </div>
        <div class="revenue-streams">
            <div class="revenue-class-card">
                <h2>Health professionals</h2>
                <p>In-App Purchases</p>
                <p>Advertising</p>
                <p>Data Monetization</p>
                <p>Freemium content</p>
                <p>Subscription Fees</p>
                <p>Donations</p>
                <p>Commisions</p>
            </div>
            <div class="revenue-class-card">
                <h2>B2B Enterprise</h2>
                <p>Advertising</p>
                <p>Data Monetization</p>
                <p>Donations</p>
                <p>Commisions</p>
            </div>
        </div>
    </div>
</div>