:host {
    height: 100%;
    width: 100%;
}

.milestone1-container {
    margin-top: 100px;

    .milestone1 {

        h1 {
            font-weight: 800;
            font-size: 60px;
            color: #A9A9A9;
        }
    }

    h1,
    h2 {
        color: #404040;
    }

    .problem-solution {
        display: flex;
        flex-wrap: wrap;
        color: #404040;
        width: 80%;
        margin: 0 auto;

        .problem {
            max-width: 300px;
            margin-top: 30px;
        }

        .spacer {
            flex-grow: 1;
            margin-top: 30px;
        }

        .solution {
            max-width: 300px;
            margin-top: 30px;
        }
    }

    @media only screen and (min-width: 768px) {
        .spacer {
            height: 150px;
        }
    }

    .cutomer-title {
        margin-top: 60px;
        margin-bottom: 100px;

        h1 {
            font-weight: 800;
            font-size: 60px;
            color: #A9A9A9;
        }
    }

    .customers {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 60px;

        .customer-card {
            width: 200px;
            height: 200px;
            border-radius: 15px;
            margin-bottom: 30px;
            padding: 15px;
            box-shadow: 10px 10px 5px #A9A9A9;
            background-color: #CAEBF2;
            color: #404040;
        }
    }

    .competition-title {
        margin-top: 120px;
        margin-bottom: 100px;

        h1 {
            font-weight: 800;
            font-size: 40px;
            font-size: 60px;
            color: #A9A9A9;
        }
    }

    .competitors {
        margin-top: 60px;

        .competitors-row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            .competitor-card {
                width: 200px;
                height: 300px;
                border-radius: 15px;
                padding: 5px;
                margin-bottom: 30px;
                box-shadow: 10px 10px 5px #A9A9A9;
                background-color: #CAEBF2;
                color: #404040;

                .logo-container {
                    border-radius: 50%;
                    width: 100px;
                    height: 100px;
                    background: #A9A9A9;
                    border: 1px solid #404040;
                    margin: 0 auto;
                }

                a:link,
                a:visited {
                    color: #404040;
                    background-color: transparent;
                    text-decoration: underline;
                }
            }
        }
    }

    .knowledge {
        margin-top: 200px;
        margin-bottom: 100px;

        h1 {
            font-weight: 800;
            font-size: 40px;
            font-size: 60px;
            color: #A9A9A9;
        }
    }

    .lessons-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .lesson {
            width: 200px;
            margin: 30px;

            .lesson-icon {
                $size: 100px;
                font-size: $size;
                height: $size;
                width: $size;
            }

            .lesson-label {
                margin-top: 10px;
                font-size: 20px;
                color: #404040;
            }
        }
    }

    .metrics {
        margin-top: 100px;
        margin-bottom: 100px;

        h1 {
            font-weight: 800;
            font-size: 40px;
            font-size: 60px;
            color: #A9A9A9;
        }
    }

    .chart-container {
        display: flex;
        justify-content: center;
    }

    .note {
        margin-top: 50px;
        color: #404040;
    }

    .cost {
        margin-top: 200px;
        margin-bottom: 100px;

        h1 {
            font-weight: 800;
            font-size: 40px;
            font-size: 60px;
            color: #A9A9A9;
        }
    }

    .revenue {
        margin-top: 200px;
        margin-bottom: 100px;

        h1 {
            font-weight: 800;
            font-size: 40px;
            font-size: 60px;
            color: #A9A9A9;
        }
    }

    .revenue-streams {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .revenue-class-card {
            width: 200px;
            border-radius: 15px;
            margin: 30px;
            padding: 15px;
            box-shadow: 10px 10px 5px #A9A9A9;
            background-color: #CAEBF2;
            color: #404040;
        }
    }
}