<div class="milestone1-container">
    <h1>Fiki and project description</h1>
    <h4>VIMFit - your daily fitness motivation</h4>

    <div class="problem-solution">
        <div class="problem">
            <h2>Problem</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aliquam id sodales dolor. In hac habitasse platea dictumst. Morbi pretium risus vel maximus molestie. Sed lobortis dui a neque accumsan, vel porta augue ultricies. Ut nec auctor est. Cras tempor varius erat, in bibendum mi tincidunt quis. Curabitur molestie sodales erat, sed consectetur metus eleifend sed.
            </p>
        </div>
        <div class="spacer"></div>
        <div class="solution">
            <h2>Solution</h2>
            <p>
                Pellentesque posuere est condimentum velit interdum, et laoreet nulla egestas. Maecenas suscipit id orci id vehicula. Integer ac molestie leo. Cras nec venenatis mi. Ut pulvinar nisl ac ligula accumsan, non imperdiet est eleifend. Vestibulum elementum et tellus vitae convallis. Suspendisse vel enim eu diam commodo tincidunt varius vel arcu. Sed in malesuada ligula. Proin a magna justo. Maecenas vulputate elit vel justo auctor, vel dictum purus dignissim.
            </p>
        </div>
    </div>

    <br>
    <div>
        <h2>Our customers</h2>
        <div class="customers">
            <div class="customer-card">
                <h3>Title</h3>
                <p>
                    Pellentesque posuere est condimentum velit interdum, et laoreet nulla egestas. Maecenas suscipit id orci id vehicula. Integer ac molestie leo. Cras nec venenatis mi. Ut pulvinar nisl ac ligula accumsan, non imperdiet est eleifend. Vestibulum elementum et tellus vitae convallis. Suspendisse vel enim eu diam commodo tincidunt varius vel arcu. Sed in malesuada ligula. Proin a magna justo. Maecenas vulputate elit vel justo auctor, vel dictum purus dignissim.
                </p>
            </div>
            <div class="customer-card">
                <h3>Title</h3>
                <p>
                    Pellentesque posuere est condimentum velit interdum, et laoreet nulla egestas. Maecenas suscipit id orci id vehicula. Integer ac molestie leo. Cras nec venenatis mi. Ut pulvinar nisl ac ligula accumsan, non imperdiet est eleifend. Vestibulum elementum et tellus vitae convallis. Suspendisse vel enim eu diam commodo tincidunt varius vel arcu. Sed in malesuada ligula. Proin a magna justo. Maecenas vulputate elit vel justo auctor, vel dictum purus dignissim.
                </p>
            </div>
            <div class="customer-card">
                <h3>Title</h3>
                <p>
                    Pellentesque posuere est condimentum velit interdum, et laoreet nulla egestas. Maecenas suscipit id orci id vehicula. Integer ac molestie leo. Cras nec venenatis mi. Ut pulvinar nisl ac ligula accumsan, non imperdiet est eleifend. Vestibulum elementum et tellus vitae convallis. Suspendisse vel enim eu diam commodo tincidunt varius vel arcu. Sed in malesuada ligula. Proin a magna justo. Maecenas vulputate elit vel justo auctor, vel dictum purus dignissim.
                </p>
            </div>
        </div>
    </div>
    <br>
    <div>
        <h2>Competition</h2>
        <div class="competitors">
            <div class="competitor-card">
                <h3><a href="https://www.google.com/" target="_blank">AppName</a></h3>
                <p>
                    Pellentesque posuere est condimentum velit interdum, et laoreet nulla egestas. Maecenas suscipit id orci id vehicula. Integer ac molestie leo. Cras nec venenatis mi. Ut pulvinar nisl ac ligula accumsan, non imperdiet est eleifend. Vestibulum elementum et tellus vitae convallis. Suspendisse vel enim eu diam commodo tincidunt varius vel arcu. Sed in malesuada ligula. Proin a magna justo. Maecenas vulputate elit vel justo auctor, vel dictum purus dignissim.
                </p>
            </div>
            <div class="competitor-card">
                <h3><a href="https://www.google.com/" target="_blank">AppName</a></h3>
                <p>
                    Pellentesque posuere est condimentum velit interdum, et laoreet nulla egestas. Maecenas suscipit id orci id vehicula. Integer ac molestie leo. Cras nec venenatis mi. Ut pulvinar nisl ac ligula accumsan, non imperdiet est eleifend. Vestibulum elementum et tellus vitae convallis. Suspendisse vel enim eu diam commodo tincidunt varius vel arcu. Sed in malesuada ligula. Proin a magna justo. Maecenas vulputate elit vel justo auctor, vel dictum purus dignissim.
                </p>
            </div>
            <div class="competitor-card">
                <h3><a href="https://www.google.com/" target="_blank">AppName</a></h3>
                <p>
                    Pellentesque posuere est condimentum velit interdum, et laoreet nulla egestas. Maecenas suscipit id orci id vehicula. Integer ac molestie leo. Cras nec venenatis mi. Ut pulvinar nisl ac ligula accumsan, non imperdiet est eleifend. Vestibulum elementum et tellus vitae convallis. Suspendisse vel enim eu diam commodo tincidunt varius vel arcu. Sed in malesuada ligula. Proin a magna justo. Maecenas vulputate elit vel justo auctor, vel dictum purus dignissim.
                </p>
            </div>
        </div>
        <br>
        Conclusion: Pellentesque posuere est condimentum velit interdum, et laoreet nulla egestas. Maecenas suscipit id orci id vehicula. Integer ac molestie leo. Cras nec venenatis mi. Ut pulvinar nisl ac ligula accumsan, non imperdiet est eleifend. Vestibulum elementum et tellus vitae convallis. Suspendisse vel enim eu diam commodo tincidunt varius vel arcu. Sed in malesuada ligula. Proin a magna justo. Maecenas vulputate elit vel justo auctor, vel dictum purus dignissim.
    </div>

    <br>
    <div>
        <h2>What we've learned</h2>
        <mat-grid-list cols="3" rowHeight="2:1">
            <mat-grid-tile>1</mat-grid-tile>
            <mat-grid-tile>2</mat-grid-tile>
            <mat-grid-tile>3</mat-grid-tile>
            <mat-grid-tile>4</mat-grid-tile>
            <mat-grid-tile>5</mat-grid-tile>
            <mat-grid-tile>6</mat-grid-tile>
          </mat-grid-list>
    </div>
    
    <br>
    <div>
        <h2>Key metrics</h2>
        <div class="chart-container">
            <ngx-charts-pie-grid
                [view]="view"
                [scheme]="colorScheme"
                [results]="metrics"
                (select)="onSelect($event)">
            </ngx-charts-pie-grid>
        </div>
    </div>

    <br>
    <div>
        <h2>Cost structure</h2>
        <div class="chart-container">
            <ngx-charts-pie-chart
                [view]="view"
                [scheme]="colorScheme"
                [results]="costs"
                (select)="onSelect($event)">
            </ngx-charts-pie-chart>
        </div>
    </div>
    
    <br>
    <div>
        <h2>Revenue Streams</h2>
    </div>
    <!--

        Vivamus molestie euismod ex, non dictum libero vestibulum in. Cras consequat nisl vel dignissim mattis. In porttitor risus sed ex consequat hendrerit. Curabitur dictum metus vestibulum, semper ipsum in, condimentum sem. Phasellus sollicitudin tempor diam sit amet ultricies. Suspendisse vehicula consequat nisl, nec rhoncus dui imperdiet sed. Sed at dignissim risus. Curabitur eget risus a sem aliquam congue. Vivamus venenatis a tortor in pulvinar. Vestibulum nec justo vehicula, egestas justo at, placerat sem. Donec aliquam pharetra vulputate. Ut laoreet libero at lorem malesuada, eu pellentesque ipsum varius. Mauris pharetra metus sit amet pellentesque faucibus. Sed in laoreet odio, eu auctor sapien. Morbi in nisi at justo imperdiet ornare a ultricies ipsum. Nulla posuere, nibh ac tincidunt ornare, tortor felis pellentesque sapien, nec accumsan nisi urna nec enim.
        
        Quisque bibendum massa dolor, vitae fermentum lacus sollicitudin vel. Ut viverra risus ut odio imperdiet, non pretium neque auctor. Mauris diam ligula, gravida at pharetra nec, congue ac ante. Sed quis sollicitudin sem, id hendrerit tellus. In porttitor, urna at commodo pretium, tellus arcu lacinia mauris, nec scelerisque lectus purus sit amet eros. Nam id lectus ut erat convallis rhoncus. Cras vel leo sit amet mi aliquet pulvinar.
        
        Etiam dictum sapien vitae quam viverra, in egestas orci lacinia. Vestibulum nulla lorem, auctor id fermentum sit amet, bibendum at mauris. Nulla enim lectus, malesuada ac lacinia sit amet, scelerisque vel eros. Vestibulum quis nibh eget sapien ullamcorper euismod a eget quam. Donec bibendum rhoncus ligula, at egestas turpis semper a. Integer porttitor at ipsum quis auctor. Ut fringilla lectus quam, id tempor ante iaculis et. Aenean in ipsum libero. Maecenas sit amet dui elit. Aliquam pellentesque odio quis ante gravida molestie.      
    -->
</div>

