<div id="milestone1" class="milestone1-container">
    <div class="milestone1">
        <h1>M1</h1>
    </div>
    <br>
    <h1>Fiki and project description</h1>
    <h2>VIMFit - your daily fitness motivation</h2>

    <div class="spacer"></div>
    <div class="problem-solution">
        <table class="table table-sm">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td class="table-title">Problems</td>
                    <td class="table-title"></td>
                    <td class="table-title">Solutions</td>
                </tr>
                <tr>
                    <td>The lack of education from health care professionals to end clients/patients amounts to the main
                        decision whether to start a healthy lifestyle or not.</td>
                    <td class="table-icon">
                        <mat-icon class="teaching-icon" svgIcon="teaching" aria-hidden="false"></mat-icon>
                    </td>
                    <td>Habitual learning at its peak with input from health professionals from all over the world.</td>
                </tr>
                <tr>
                    <td>There is no free platform where “professional lifestyle coaches” can enable a population to
                        start
                        making
                        healthier life choices.</td>
                    <td class="table-icon">
                        <mat-icon class="world-grid-icon" svgIcon="world-grid" aria-hidden="false"></mat-icon>
                    </td>
                    <td>Free guidance and support from a community with a global outreach.</td>
                </tr>
                <tr>
                    <td>While COVID is making a rampant change in the world economy, one of the industries suffering the
                        most
                        is
                        the fitness industry. With gyms closing down and re-opening for short periods of time before
                        another
                        spike hits. People are looking for new ways to keep or get in shape from home or in a safe
                        environment
                        with the guidance of a professional lifestyle coach.</td>
                    <td class="table-icon">
                        <mat-icon class="house-icon" svgIcon="house" aria-hidden="false"></mat-icon>
                    </td>
                    <td>During COVID with adults spending more time at home, VIMFit will be taking this opportunity to
                        entice
                        new
                        users to stay active and healthy with mass health analysis triggered by country, age, ethnic
                        background,
                        or gender.</td>
                </tr>

            </tbody>
        </table>
    </div>

    <div class="spacer"></div>

    <div class="customer-container">
        <div class="cutomer-title">
            <h1>Our customers</h1>
        </div>
        <div class="customers">
            <div class="customer-card">
                <h2>Health professionals</h2>
                <mat-icon class="cardiologist-icon" svgIcon="cardiologist" aria-hidden="false"></mat-icon>
                <p>Personal Trainers</p>
                <p>Nutritionists</p>
                <p>Health Care Practitioner</p>
            </div>
            <div class="customer-card">
                <h2>Main Service Users</h2>
                <mat-icon class="team-icon" svgIcon="team" aria-hidden="false"></mat-icon>
                <p>Students (15-20)</p>
                <p>Young Adults (20-28)</p>
                <p>Adults (28-45)</p>
                <p>Senior (45+)</p>
            </div>
            <div class="customer-card">
                <h2>B2B Enterprise</h2>
                <mat-icon class="building-icon" svgIcon="building" aria-hidden="false"></mat-icon>
                <p>Gyms</p>
                <p>Supplement Companies</p>
                <p>Advertisers</p>
            </div>
        </div>
    </div>

    <div class="spacer"></div>

    <div>
        <div class="competition-title">
            <h1>Competition</h1>
        </div>
        <div class="competitors">
            <div class="competitors-row">

                <div class="card-container">
                    <div class="circle">
                        <a href="https://play.google.com/store/apps/details?id=com.trainerize.Trainerize"
                            target="_blank">
                            <img src="../../assets/comlogo/trainerize.jpg">
                        </a>
                    </div>
                    <div class="competitor-card">
                        <h2>Treinerize</h2>
                        <p class="downloads"> 100.000+ downloads </p>
                        <div class="rating-container">
                            <div class="rating">
                                <mat-icon class="google-play-icon stores" svgIcon="google-play" aria-hidden="false">
                                </mat-icon>
                                <p>3.3</p>
                                <mat-icon class="star-icon stores" svgIcon="star" aria-hidden="false"></mat-icon>
                            </div>
                            <div class="rating">
                                <mat-icon class="app-store-icon stores" svgIcon="app-store" aria-hidden="false">
                                </mat-icon>
                                <p>3.9</p>
                                <mat-icon class="star-icon stores" svgIcon="star" aria-hidden="false"></mat-icon>
                            </div>
                        </div>

                        <div class="comparation-container">
                            <div class="comparation">
                                <mat-icon class="like-icon sign" svgIcon="like" aria-hidden="false"></mat-icon>
                                <div class="text-container">
                                    <p>Good exercise database</p>
                                    <p>Auto-generated nutrition plans</p>
                                </div>
                            </div>
                            <div class="comparation">
                                <mat-icon class="dislike-icon sign" svgIcon="dislike" aria-hidden="false"></mat-icon>
                                <div class="text-container">
                                    <p>Not optimized for mobile</p>
                                    <p>Confusing UI</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-container">
                    <div class="circle">
                        <a href="https://play.google.com/store/apps/details?id=com.truecoachmessenger" target="_blank">
                            <img src="../../assets/comlogo/truecoach.png">
                        </a>
                    </div>
                    <div class="competitor-card">
                        <h2>True Coach</h2>
                        <p class="downloads"> 10.000+ downloads </p>
                        <div class="rating-container">
                            <div class="rating">
                                <mat-icon class="google-play-icon stores" svgIcon="google-play" aria-hidden="false">
                                </mat-icon>
                                <p>1.6</p>
                                <mat-icon class="star-icon stores" svgIcon="star" aria-hidden="false"></mat-icon>
                            </div>
                        </div>

                        <div class="comparation-container">
                            <div class="comparation">
                                <mat-icon class="like-icon sign" svgIcon="like" aria-hidden="false"></mat-icon>
                                <div class="text-container">
                                    <p>Seamless trainer/customer transfers</p>
                                </div>
                            </div>
                            <div class="comparation">
                                <mat-icon class="dislike-icon sign" svgIcon="dislike" aria-hidden="false"></mat-icon>
                                <div class="text-container">
                                    <p>No iPhone app</p>
                                    <p>Not optimized for mobile</p>
                                    <p>Pricy</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-container">
                    <div class="circle">
                        <a href="https://play.google.com/store/apps/details?id=com.ptdistinction" target="_blank">
                            <img src="../../assets/comlogo/ptdistinction.png">
                        </a>
                    </div>
                    <div class="competitor-card">
                        <h2>PT Distinction</h2>
                        <p class="downloads"> 10.000+ downloads </p>
                        <div class="rating-container">
                            <div class="rating">
                                <mat-icon class="google-play-icon stores" svgIcon="google-play" aria-hidden="false">
                                </mat-icon>
                                <p>3.4</p>
                                <mat-icon class="star-icon stores" svgIcon="star" aria-hidden="false"></mat-icon>
                            </div>
                            <div class="rating">
                                <mat-icon class="app-store-icon stores" svgIcon="app-store" aria-hidden="false">
                                </mat-icon>
                                <p>3.5</p>
                                <mat-icon class="star-icon stores" svgIcon="star" aria-hidden="false"></mat-icon>
                            </div>
                        </div>

                        <div class="comparation-container">
                            <div class="comparation">
                                <mat-icon class="like-icon sign" svgIcon="like" aria-hidden="false"></mat-icon>
                                <div class="text-container">
                                    <p>Daily habits</p>
                                    <p>Coach/client integration</p>
                                </div>
                            </div>
                            <div class="comparation">
                                <mat-icon class="dislike-icon sign" svgIcon="dislike" aria-hidden="false"></mat-icon>
                                <div class="text-container">
                                    <p>Not optimized for mobile</p>
                                    <p>Lacks support</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="spacer"></div>

            <div class="competitors-row">

                <div class="card-container">
                    <div class="circle">
                        <a href="https://www.totalcoaching.com/en/" target="_blank">
                            <img src="../../assets/comlogo/myonlinecoach.png">
                        </a>
                    </div>
                    <div class="competitor-card">
                        <h2>My Online Coach</h2>
                        <p class="downloads"> 5.000+ downloads </p>
                        <div class="rating-container">
                            <div class="rating">
                                <mat-icon class="google-play-icon stores" svgIcon="google-play" aria-hidden="false">
                                </mat-icon>
                                <p>4.0</p>
                                <mat-icon class="star-icon stores" svgIcon="star" aria-hidden="false"></mat-icon>
                            </div>
                            <div class="rating">
                                <mat-icon class="app-store-icon stores" svgIcon="app-store" aria-hidden="false">
                                </mat-icon>
                                <p>1.0</p>
                                <mat-icon class="star-icon stores" svgIcon="star" aria-hidden="false"></mat-icon>
                            </div>
                        </div>

                        <div class="comparation-container">
                            <div class="comparation">
                                <mat-icon class="like-icon sign" svgIcon="like" aria-hidden="false"></mat-icon>
                                <div class="text-container">
                                    <p>Good exercise database</p>
                                </div>
                            </div>
                            <div class="comparation">
                                <mat-icon class="dislike-icon sign" svgIcon="dislike" aria-hidden="false"></mat-icon>
                                <div class="text-container">
                                    <p>No integrations</p>
                                    <p>Not optimized for mobile</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-container">
                    <div class="circle">
                        <a href="https://www.ptminder.com/" target="_blank">
                            <img src="../../assets/comlogo/ptminder.png">
                        </a>
                    </div>
                    <div class="competitor-card">
                        <h2>PT Minder</h2>
                        <p class="downloads"> 10.000+ downloads </p>
                        <div class="rating-container">
                            <div class="rating">
                                <mat-icon class="google-play-icon stores" svgIcon="google-play" aria-hidden="false">
                                </mat-icon>
                                <p>3.8</p>
                                <mat-icon class="star-icon stores" svgIcon="star" aria-hidden="false"></mat-icon>
                            </div>
                            <div class="rating">
                                <mat-icon class="app-store-icon stores" svgIcon="app-store" aria-hidden="false">
                                </mat-icon>
                                <p>3.5</p>
                                <mat-icon class="star-icon stores" svgIcon="star" aria-hidden="false"></mat-icon>
                            </div>
                        </div>

                        <div class="comparation-container">
                            <div class="comparation">
                                <mat-icon class="like-icon sign" svgIcon="like" aria-hidden="false"></mat-icon>
                                <div class="text-container">
                                    <p>Implements customer feedback</p>
                                </div>
                            </div>
                            <div class="comparation">
                                <mat-icon class="dislike-icon sign" svgIcon="dislike" aria-hidden="false"></mat-icon>
                                <div class="text-container">
                                    <p>Not optimized for mobile</p>
                                    <p>Hard to set up an account</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

    <div class="spacer"></div>
    <div>
        <div class="knowledge">
            <h1>What we've learned</h1>
        </div>
        <div class="lessons-row">
            <div class="lesson">
                <mat-icon class="lesson-icon" color="accent" svgIcon="training" aria-hidden="false"></mat-icon>
                <div class="lesson-label">Free training packages</div>
            </div>

            <div class="lesson"></div>

            <div class="lesson">
                <mat-icon class="lesson-icon" color="accent" svgIcon="bill" aria-hidden="false"></mat-icon>
                <div class="lesson-label">Make billing clear</div>
            </div>

            <div class="lesson"></div>

            <div class="lesson">
                <mat-icon class="lesson-icon" color="accent" svgIcon="communication" aria-hidden="false"></mat-icon>
                <div class="lesson-label">Create a supportive community</div>
            </div>
        </div>
        <div class="lessons-row">
            <div class="lesson">
                <mat-icon class="lesson-icon" color="accent" svgIcon="habits" aria-hidden="false"></mat-icon>
                <div class="lesson-label">Good habitual learning</div>
            </div>

            <div class="lesson"></div>

            <div class="lesson">
                <mat-icon class="lesson-icon" color="accent" svgIcon="click" aria-hidden="false"></mat-icon>
                <div class="lesson-label">Ease of use</div>
            </div>
        </div>
    </div>

    <div class="spacer"></div>
    <div class="honeycontainer">
        <div class="metrics">
            <h1>Key metrics</h1>
        </div>

        <div class="chart-container">
            <ngx-charts-pie-chart [view]="metricsChartView" [scheme]="colorScheme" [results]="metrics"
                [tooltipDisabled]="true" [labels]="true" [trimLabels]="false" maxLabelLength="1000">
            </ngx-charts-pie-chart>
        </div>
    </div>

    <div class="spacer"></div>
    <div>
        <div class="cost">
            <h1>Cost structure</h1>
        </div>
        <div class="chart-container">
            <ngx-charts-pie-grid [view]="costsChartView" [scheme]="colorScheme" [results]="costs" label="Cost $">
            </ngx-charts-pie-grid>
        </div>
        <p class="note">* The cost structure was calculated on a <b>5 years</b> time frame and the total estimated sum
            is
            <b>947,121.72€</b></p>
    </div>

    <div class="spacer"></div>

    <div>
        <div class="revenue">
            <h1>Revenue Streams</h1>
        </div>
        <div class="revenue-streams">
            <div class="revenue-class-card">
                <h2>Health professionals</h2>
                <p>In-App Purchases</p>
                <p>Advertising</p>
                <p>Data Monetization</p>
                <p>Freemium content</p>
                <p>Subscription Fees</p>
                <p>Donations</p>
                <p>Commisions</p>
            </div>

            <div class="dollar-container">
                <mat-icon class="dollar-icon" svgIcon="dollar" aria-hidden="false"></mat-icon>
            </div>

            <div class="revenue-class-card">
                <h2>B2B Enterprise</h2>
                <p>Advertising</p>
                <p>Data Monetization</p>
                <p>Donations</p>
                <p>Commisions</p>
            </div>
        </div>
    </div>
</div>