<div class="container">
    <div class="milestone" [ngClass]="{'active': (currentMilestone$ | async) === 9}">
        <a href="#milestone9" [ngClass]="{'active': (currentMilestone$ | async) === 9}">M9</a>
    </div>

    <div class="milestone" [ngClass]="{'active': (currentMilestone$ | async) === 8}">
        <a href="#milestone8" [ngClass]="{'active': (currentMilestone$ | async) === 8}">M8</a>
    </div>

    <div class="milestone" [ngClass]="{'active': (currentMilestone$ | async) === 7}">
        <a href="#milestone7" [ngClass]="{'active': (currentMilestone$ | async) === 7}">M7</a>
    </div>

    <div class="milestone" [ngClass]="{'active': (currentMilestone$ | async) === 6}">
        <a href="#milestone6" [ngClass]="{'active': (currentMilestone$ | async) === 6}">M6</a>
    </div>

    <div class="milestone" [ngClass]="{'active': (currentMilestone$ | async) === 5}">
        <a href="#milestone5" [ngClass]="{'active': (currentMilestone$ | async) === 5}">M5</a>
    </div>

    <div class="milestone" [ngClass]="{'active': (currentMilestone$ | async) === 4}">
        <a href="#milestone4" [ngClass]="{'active': (currentMilestone$ | async) === 4}">M4</a>
    </div>

    <div class="milestone" [ngClass]="{'active': (currentMilestone$ | async) === 3}">
        <a href="#milestone3" [ngClass]="{'active': (currentMilestone$ | async) === 3}">M3</a>
    </div>

    <div class="milestone" [ngClass]="{'active': (currentMilestone$ | async) === 2}">
        <a href="#milestone2" [ngClass]="{'active': (currentMilestone$ | async) === 2}">M2</a>
    </div>

    <div class="milestone" [ngClass]="{'active': (currentMilestone$ | async) === 1}">
        <a href="#milestone1" [ngClass]="{'active': (currentMilestone$ | async) === 1}">M1</a>
    </div>
</div>