.container {
    padding-top: 150px;
    padding-left: 30px;
    padding-right: 30px;

    .milestone {
        border: 2px solid grey;
        border-radius: 100%;
        padding: 14px 7px 14px 7px;
        margin-top: 25px;
        position: relative; 
        font-size: 2em;
        font-weight: 700;
        margin-left: 20px;
        margin-right: 20px;
    }

    a:link,
    a:visited {
        color: grey;
        background-color: transparent;
        text-decoration: none;
        font-size: 25px;
    }
}
