<h2>Meet the awesome team!</h2>
<div class="row">
    <div class="member">
        <img src="assets/images/eliza.jpg" class="member-image"/>
        <div class="member-info">
            <p class="member-info-line">Name</p>
            <p class="member-info-line">Role</p>
            <p class="member-info-line">Email</p>
        </div>
    </div>
    <div class="member">
        <img src="assets/images/mihai.jpg" class="member-image"/>
        <div class="member-info">
            <p class="member-info-line">Name</p>
            <p class="member-info-line">Role</p>
            <p class="member-info-line">Email</p>
        </div>
    </div>
    <div class="member">
        <img src="assets/images/john.jpeg" class="member-image"/>
        <div class="member-info">
            <p class="member-info-line">Name</p>
            <p class="member-info-line">Role</p>
            <p class="member-info-line">Email</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="member">
        <img src="assets/images/ionut.jpg" class="member-image"/>
        <div class="member-info">
            <p class="member-info-line">Name</p>
            <p class="member-info-line">Role</p>
            <p class="member-info-line">Email</p>
        </div>
    </div>
    <div class="member">
        <img src="assets/images/daniel.JPG" class="member-image"/>
        <div class="member-info">
            <p class="member-info-line">Name</p>
            <p class="member-info-line">Role</p>
            <p class="member-info-line">Email</p>
        </div>
    </div>
</div>
