.team-container {
    text-align: center;

    .team {
        margin-top: 200px;
        margin-bottom: 100px;

        h2 {
            font-weight: 800;
            font-size: 40px;
            // color: #404040;
            font-size: 60px;
            color: #A9A9A9;
        }
    }

    .rows-container {
        width: 60%;
        margin: 0 auto;
        margin-bottom: 100px;

        .row {
            display: flex;
            justify-content: space-evenly;

            .member {
                .member-image {
                    border-radius: 100%;
                    max-width: 100px;
                }

                .member-info {
                    text-align: center;

                    .name {
                        font-size: 20px;
                        font-weight: 500;
                    }

                    .member-info-line {
                        margin-bottom: 0px;
                        color: #404040;

                        a {
                            margin-left: 3px;
                            margin-right: 3px;
                        }
                    }
                }
            }
        }
    }
}