<div class="team-container">
    <h2>Meet the awesome team!</h2>
    <br>
    <div class="row">
        <div class="member">
            <img src="assets/images/eliza.jpg" class="member-image"/>
            <div class="member-info">
                <p class="member-info-line">Eliza Pavel</p>
                <p class="member-info-line">Project manager</p>
                <p class="member-info-line">
                    <a mat-button-icon href="mailto:mihaialexds@gmail.com"><mat-icon color="accent" aria-hidden="false" aria-label="email">email</mat-icon></a>
                    <a mat-button-icon href="https://www.facebook.com/eliza.pavel.3"><mat-icon  color="accent" aria-hidden="false" aria-label="facebook">facebook</mat-icon></a>
                    <a mat-button-icon href="https://www.linkedin.com/in/eliza-pavel-b3120815b"><mat-icon color="accent" svgIcon="linkedin" aria-hidden="false" aria-label="LinkedIn"></mat-icon></a>
                </p>
            </div>
        </div>
        <div class="member">
            <img src="assets/images/mihai.jpg" class="member-image"/>
            <div class="member-info">
                <p class="member-info-line">Mihai Olaru</p>
                <p class="member-info-line">UI/UX Designer</p>
                <p class="member-info-line">
                    <a mat-button-icon href="mailto:mihaialexds@gmail.com"><mat-icon color="accent" aria-hidden="false" aria-label="email">email</mat-icon></a>
                    <a mat-button-icon href="https://www.facebook.com/mihai.alex.543"><mat-icon color="accent" aria-hidden="false" aria-label="facebook">facebook</mat-icon></a>
                    <a mat-button-icon href="https://www.linkedin.com"><mat-icon color="accent" svgIcon="linkedin" aria-hidden="false" aria-label="LinkedIn"></mat-icon></a>
                </p>
            </div>
        </div>
        <div class="member">
            <img src="assets/images/john.jpeg" class="member-image"/>
            <div class="member-info">
                <p class="member-info-line">Ionut Vitec</p>
                <p class="member-info-line">Salesman</p>
                <p class="member-info-line">
                    <a mat-button-icon href="mailto:mihaialexds@gmail.com"><mat-icon color="accent" aria-hidden="false" aria-label="email">email</mat-icon></a>
                    <a mat-button-icon href="https://www.facebook.com/ionut.vitec"><mat-icon color="accent" aria-hidden="false" aria-label="facebook">facebook</mat-icon></a>
                    <a mat-button-icon href="https://www.linkedin.com/in/ionut-vitec-151944118"><mat-icon color="accent" svgIcon="linkedin" aria-hidden="false" aria-label="LinkedIn"></mat-icon></a>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="member">
            <img src="assets/images/ionut.jpg" class="member-image"/>
            <div class="member-info">
                <p class="member-info-line">Ionut Varia</p>
                <p class="member-info-line">Business Developer</p>
                <p class="member-info-line">
                    <a mat-button-icon href="mailto:ionutvaria96@gmail.com"><mat-icon color="accent" aria-hidden="false" aria-label="email">email</mat-icon></a>
                    <a mat-button-icon href="https://www.facebook.com/ionut.varia"><mat-icon color="accent" aria-hidden="false" aria-label="facebook">facebook</mat-icon></a>
                    <a mat-button-icon href="https://www.linkedin.com/in/ionut-varia"><mat-icon color="accent" svgIcon="linkedin" aria-hidden="false" aria-label="LinkedIn"></mat-icon></a>
                </p>
            </div>
        </div>
        <div class="member">
            <img src="assets/images/daniel.JPG" class="member-image"/>
            <div class="member-info">
                <p class="member-info-line">Daniel Berbece</p>
                <p class="member-info-line">Web Developer</p>
                <p class="member-info-line">
                    <a mat-button-icon href="mailto:daniel.berbece97@gmail.com"><mat-icon color="accent" aria-hidden="false" aria-label="email">email</mat-icon></a>
                    <a mat-button-icon href="https://www.facebook.com/berbece.daniel"><mat-icon color="accent" aria-hidden="false" aria-label="facebook">facebook</mat-icon></a>
                    <a mat-button-icon href="https://www.linkedin.com/in/berbece-daniel"><mat-icon color="accent" svgIcon="linkedin" aria-hidden="false" aria-label="LinkedIn"></mat-icon></a>
                </p>
            </div>
        </div>
    </div>
</div>
