<div id="milestone4" class="milestone4-container">
    <div class="milestone4">
        <h1>M4</h1>
    </div>
    <br>
    <h1>UX</h1>

    <div class="spacer"></div>

    <div class="subtitle text-left">Interviews</div>

    <div class="interviews">
        <div class="interview-card">
            <div class="title">Interview - Petre</div>
            <audio controls>
                <source src="assets/interviews/Petre.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <ul class="summary">
                <li>Student - Entrepreneurship Academy - Bucuresti</li>
                <li>During the Pandemic, he is living in Caracal</li>
                <li>Covid Pandemic made him reduce the physical activity that made him feel bad sometimes (low energy level, headaches)</li>
                <li>He is studying online and mostly spending his time home</li>
                <li>He reduced the level of activity and he also reduced the total amount of food intake</li>
                <li>Bad Habits that could be improved: more sleep, more physical activity</li>
                <li>He has an improvement plan, but he is not persistent</li>
                <li>He tries to be as optimistic as possible</li>
                <li>He believes that balance is the key to a healthy life</li>
                <li>He considers that technology can be a way to balance life and improve ourselves, but people should be informed about it and should be educated in order to find the essential benefits in it</li>
                <li>Petre used to use a wearable activity tracker and applications and websites for fitness and activity monitoring for a short time, but he has not achieved his goals because he was procrastinating and he was not motivated</li>
                <li>He was monitoring the sleep time but the wearable band tracker was uncomfortable and unprecise</li>
            </ul>
        </div>

        <div class="interview-card">
            <div class="title">Interview - Andrada</div>
            <audio controls>
                <source src="assets/interviews/Andrada.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <ul class="summary">
                <li>Master degree student in Bucharest</li>
                <li>full-time employed, working from home</li>
                <li>She reduced the amount of time spent with friends and family during the pandemic</li>
                <li>She is keen on developing her skills in order to improve her career path</li>
                <li>She picked up old habits during the Pandemic (drawing, watching series and movies)</li>
                <li> She has a flexible schedule, but she is organized, having breakfast before starting to work.</li>
                <li>She also makes time for a lunch break.</li>
                <li>She is aware that skipping meals could be harmful</li>
                <li>Good habits: working out (Youtube instructionals), running, she tries to cook food front sometimes</li>
                <li>Bad habits: smoking (but she is aware of the dangers so she tries to limit it), junk-food (not very often)</li>
                <li>Applications used: Nike Running Club, Nike Training Club, Youtube</li>
                <li>Andrada considers that working out in gyms is risky due to pandemic</li>
                <li>She never consulted with a nutritionist or personal trainer</li>
                <li>She uses Apple Watch as a wearable activity tracking and she finds it useful to be notified when the watch detects a lack of activity</li>
                <li>Essential App functionalities: tracking, push-notification, workout varieties</li>
            </ul>
        </div>

        <div class="interview-card">
            <div class="title">Interview - Alex Fratica</div>
            <audio controls>
                <source src="assets/interviews/Alex_Fratica_PT.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <ul class="summary">
                <li>Personal trainer since 2009</li>
                <li>Started as passion, became a hobby than a profession</li>
                <li>Has MoveOn Certification</li>
                <li>Worked in local gyms before joining World Class last year</li>
                <li>Has experience in multiple areas as a trainer</li>
                <li>Does not hold a backlog with every clients’ progression</li>
                <li>Only verifies them every once in a while with an electromagnetic scale that verifies body mass and fat %</li>
                <li>He does not have any control over a client’s diet after work out</li>
                <li>Usually has results with clients after first month</li>
                <li>Does offer diet advice but does not have a certification in that domain</li>
                <li>Does not train online and prefers one on one due to physical control</li>
                <li>Has 2 jobs and has not been affected by COVID</li>
                <li>After 1st wave of covid, he remained with the same number of clients</li>
                <li>He instructs his clients to keep track of their own progress</li>
                <li>Seems to be an early bird and tidy with his schedule</li>
                <li>He forecasts a progression in the online environment with personal trainers</li>
                <li>Curious about app and how it works</li>
            </ul>
        </div>

        <div class="interview-card">
            <div class="title">Interview - Ioana Alecu</div>
            <audio controls>
                <source src="assets/interviews/Ioana_Alecu_PT.m4a" type="audio/x-m4a">
                Your browser does not support the audio element.
            </audio>
            <ul class="summary">
                <li>Personal Trainer for a few months but with a long time passion for the sport</li>
                <li>The journey to becoming a trainer began after losing 12 kgs of weight and helping a few people change their life styles</li>
                <li>Majority of her clients are women that want to lose weight and tone their bodies</li>
                <li>She worked in world-class for a month before looking for other alternatives.</li>
                <li>She works online now giving clients different exercises to follow depending on their schedules.</li>
                <li>Usually takes 90 days before her clients have first good results</li>
                <li>Does offer diet advice but does not have a certification in that domain</li>
                <li>With her online clients, she films herself doing exercises and sends them via WhatsApp or Instagram.</li>
                <li>She is not a trainer at this point.</li>
                <li>She has been affected professionally by COVID</li>
                <li>She does not see the personal trainer career blooming anytime now, though she would like to keep it as a hobby to work with her clients online when she can.</li>
                <li>She prefers the online environment.</li>
                <li>While working at World Class she has used the Tanita scale though she does not consider it accurate due to clients already being fed and hydrated by the time they step on the scale.</li>
            </ul>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="subtitle text-left">Personas</div>
    <p>As we have two mainly types of users, we will present two personas.</p>

    <div class="personas-container">
        <div class="persona">

            <div class="img-pers-container">
                <img src="../../assets/personas/alex1.png">
            </div>

            <div class="card">
                <div class="title">Trainee</div>
                <div class="content">
                    <p>Meet Alex. She is from London and she is 28 yo. she is a vet doctor, she likes being around people and animals and she is a party animal. Her childhood dream was to be a storyteller, so right now she is working on a book.</p>
                    <p>A regular day for Alex looks like this: she wakes up at 7 am, she has her coffee and breakfast, and at 8 am she works at the vet shop. She doesn't usually have much activity in the shop, so she mostly browses the web for funny content.
                        She leaves the shop at 5 pm, then goes shopping for fresh food in the local market. After cooking dinner for her and her two cats, she continues writing her book. She falls asleep around 12:30 am.</p>
                    <p>Alex thinks about being more physically active, but can't find the time and motivation to do so. After she started her book, she also gained some weight and she feels very self-aware because of that. She is planning on releasing the
                        book in two months, so she prioritizes finishing it.</p>
                    <p>Sometimes, Alex thinks about her age and how she's getting older and older and how every day a new part of her body starts hurting. The lack of physical activity doesn't help eighter, as she has frustration built up and she's on the
                        verge of falling into depression.</p>
                    <p>Problems:</p>
                    <ul>
                        <li>lack of time and motivation to work out</li>
                    </ul>
                    <p>Needs:</p>
                    <ul>
                        <li>professional help for her physical and mental health</li>
                        <li>boosting her self-esteem</li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="persona">

            <div class="card">
                <div class="title">Personal Trainer</div>
                <div class="content">
                    <p>Meet Adam. He is also from London and he is 35 yo. He is a personal trainer for 10 years and started making youtube videos. His childhood dream was to become a professional tennis player, but he hurt his arm in a competition and he
                        couldn't practice like before, so right now he trains others to be the best versions of themselves.</p>
                    <p>2-hours typical day for Adam is to wake up at 5 am, have a sprint around the neighborhood, and meditate in Hyde Park until 7 am. After that, he goes home, has breakfast, goes to the gym, and starts working with clients or for himself.
                        He has a 2-hour break at the gym to edit or make videos for his channel. Recently he hit the 2k subscribers so he tries his best to create good quality content. After he leaves the gym around 6 pm, he visits his mother and cooks
                        dinner for her. He is usually asleep around 10 pm.</p>
                    <p>In the last year, Adam's mother found out that she had breast cancer, but the good news is that it can be treated. Since then, Adam has tried to earn money by working extra hours. He's thinking about taking a second job but doesn't
                        have the time to do that and take care of his mother at the same time.</p>
                    <p>After his accident, Adam promised to himself that he will empower other people to fulfill their dreams, so that was the reason behind starting a Youtube channel. He want to reach as many people as he can, but he grows very slow, and
                        can't reach each person one by one, but as a whole.</p>
                    <p>Problems:</p>
                    <ul>
                        <li>lack of money</li>
                    </ul>
                    <p>Needs:</p>
                    <ul>
                        <li>a big audience</li>
                        <li>reaching people individually</li>
                    </ul>
                </div>
            </div>

            <div class="img-pers-container">
                <img src="../../assets/personas/adam1.png">
            </div>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="subtitle text-left">User Stories</div>

    <div class="stories-container">

        <div class="storie">
            <div class="sto-img-container">
                <img src="../../assets/personas/alex2.png">
            </div>

            <div class="card stories">
                <div class="title">Alex Gloves</div>
                <div class="content">
                    <ul>
                        <li><b>As a trainee, I want to</b> receive enough motivation <b>so that</b> I can keep on going.</li>
                        <li><b>As a trainee, I want to</b> be guided in my fitness journey, <b>so that</b> I get the best results in the shortest time</li>
                        <li><b>As a trainee, I want to</b> not depend on someone else's program, <b>so that</b> I can do the workout when I have free time.</li>
                        <li><b>As a trainee, I want to</b> have fun while working out, <b>so that</b> it doesn't feel like working out, but as a game</li>
                        <li><b>As a trainee, I want to</b> make a habit of working out, <b>so that</b> I can sustain a healthy lifestyle.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="storie">
            <div class="sto-img-container">
                <img src="../../assets/personas/adam2.png">
            </div>

            <div class="card stories">
                <div class="title">Adam Gingledor</div>
                <div class="content">
                    <ul>
                        <li><b>As a trainer, I want to</b> reach a large audience with my workouts, <b>so that</b> my work has a bigger impact</li>
                        <li><b>As a trainer, I want to</b> have an easy solution for creating and posting my content, <b>so that</b> I don't lose much time on learning a new tool</li>
                        <li><b>As a trainer, I want to</b> talk directly to any of my trainess trainees, <b>so that</b> I get enough feedback from my clients</li>
                        <li><b>As a trainer, I want to</b> earn money for my work, <b>so that</b> I keep myself motivated to continue creating content</li>
                        <li><b>As a trainer, I want to</b> be able to customize training based on a client's needs, <b>so that</b> I can guarantee that it will be efficient.</li>
                    </ul>
                </div>
            </div>
        </div>


    </div>

    <div class="spacer"></div>

    <div class="subtitle text-left">User Flows</div>
    <div class="subtitle-mini text-left">Login flow</div>
    <div class="scheme-container">
        <img src="assets/flows/LoginFlow.png" style="margin-bottom: 50px">
    </div>
    <div class="subtitle-mini text-left">Trainee flow</div>
    <div class="scheme-container">
        <img src="assets/flows/TraineeFlow.png" style="margin-bottom: 50px">
    </div>
    <div class="subtitle-mini text-left">Trainer flow</div>
    <div class="scheme-container">
        <img src="assets/flows/TrainerFlow.png" style="margin-bottom: 50px">
    </div>

    <div class="spacer"></div>
</div>