<div id="milestone5" class="milestone5-container">
    <div class="milestone5">
        <h1>M5</h1>
    </div>
    <br>
    <h1>Validation 2</h1>
    <div class="spacer"></div>
    <table class="hotjar-stats">
        <caption>Hotjar generated statistics</caption>
        <tr>
            <th></th>
            <th>Desktop</th>
            <th>Smartphone</th>
        </tr>
        <tr>
            <td class="label">Number of visitors</td>
            <td class="info">148</td>
            <td class="info">175</td>
        </tr>
        <tr>
            <td class="label">Percentage of visitors who subscribed</td>
            <td class="info">9.5%</td>
            <td class="info">59%</td>
        </tr>
        <tr>
            <td class="label">Number of checks for Android App</td>
            <td class="info">1</td>
            <td class="info">1</td>
        </tr>
        <tr>
            <td class="label">Number of checks for iPhone App</td>
            <td class="info">0</td>
            <td class="info">0</td>
        </tr>
        <tr>
            <td class="label">Percentage of visitors interested in the video</td>
            <td class="info">3.2%</td>
            <td class="info">7.3%</td>
        </tr>
        <tr>
            <td class="label">Percentage of visitors who reached "What we do" section</td>
            <td class="info">46%</td>
            <td class="info">61%</td>
        </tr>
        <tr>
            <td class="label">Percentage of visitors interested in contacting us</td>
            <td class="info">2.5%</td>
            <td class="info">0.54%</td>
        </tr>
        <tr>
            <td class="label">Average time spent on site</td>
            <td colspan="2" class="info">50 seconds</td>
        </tr>
    </table>
    <div class="spacer"></div>
</div>