.milestone5-container {
    margin-top: 100px;
    .milestone5 {
        h1 {
            font-weight: 700;
            font-size: 60px;
            color: #c9c9c9;
            margin: 0;
        }
    }
    h1 {
        color: #c9c9c9;
        font-weight: 700;
        font-size: 28px;
    }
    .spacer {
        height: 100px;
    }
}