<div id="milestone8" class="milestone8-container">
    <div class="milestone8">
        <h1>M8</h1>
    </div>
    <br>
    <h1>First Sale</h1>

    <div class="introduction">
        <div class="text">
            <p>After the design was ready, we created a usable version of it. It can be found <a target="_blank" href="https://xd.adobe.com/view/6c2ebbb5-02f5-4863-9897-c6f62976cc7c-397d/">here</a>. Our strategy for getting people’s opinion about this was
                to meet with the people and see exactly what they are doing when they have a goal in mind. We created some life-like tasks for them to try out. The only condition for them was to speak out their minds while solving the tasks, so we can
                document what was in their heads.</p>
        </div>
    </div>

    <div class="spacer"></div>
</div>