<div id="milestone8" class="milestone8-container">
    <div class="milestone8">
        <h1>M8</h1>
    </div>
    <br>
    <h1>First Sale</h1>

    <div class="introduction">
        <div class="text">
            <p>After the design was ready, we created a usable version of it. It can be found <a target="_blank" href="https://xd.adobe.com/view/6c2ebbb5-02f5-4863-9897-c6f62976cc7c-397d/">here</a>. Our strategy for getting people’s opinion about this was
                to meet with the people and see exactly what they are doing when they have a goal in mind. We created some life-like tasks for them to try out. The only condition for them was to speak out their minds while solving the tasks, so we can
                document what was in their heads.</p>
            <br>

            <h2 class="subtitle">MVP Validation</h2>
            <br>

            <div class="mvpvalidation">
                <div class="mvpvalidation-container">
                    <h2>Cum iti alegi un antrenor personal?</h2>
                    <br>

                    <dl>
                        <dt><b>[Alexandra]:</b></dt>
                        <dd>- Trebuie sa-mi bag datele personale inainte?</dd>
                        <dd>- De pe prima pagina, ma uit la pachetele disponibile si aleg antrenorul in functie de asta.</dd>
                        <dd>- Dupa ce am gasit un program care-mi place, aleg sa angajez antrenorul respectiv.</dd>
                    </dl>
                    <br>

                    <dl>
                        <dt><b>[Dennis]:</b></dt>
                        <dd>- De pe pagina principala, aleg din Top Trainers.</dd>
                    </dl>

                </div>
            </div>
            <br>

            <div class="mvpvalidation">
                <div class="mvpvalidation-container">
                    <h2>Cum vorbesti cu antrenorul personal?</h2>
                    <br>

                    <dl>
                        <dt><b>[Alexandra]:</b></dt>
                        <dd>- Din pagina antrenorului, accesez butonul de chat.</dd>
                    </dl>
                    <br>

                    <dl>
                        <dt><b>[Dennis]:</b></dt>
                        <dd>- Aleg optiunea de chat din profilul antrenorului.</dd>
                    </dl>

                </div>
            </div>
            <br>

            <div class="mvpvalidation">
                <div class="mvpvalidation-container">
                    <h2>Cum suni antrenorul?</h2>
                    <br>

                    <dl>
                        <dt><b>[Alexandra]:</b></dt>
                        <dd>- Ma uit tot pe pagina antrenorului si caut butonul de sunat.</dd>
                        <dd>- Mi-am dat seama ca nu este un buton de sunat.</dd>
                        <dd>- Ma intorc in chat si vad optiunea din dreapta sus, care imi arata mai multe functii in chat, unde banuiesc ca va fi butonul pentru sunat.</dd>
                    </dl>
                    <br>

                    <dl>
                        <dt><b>[Dennis]:</b></dt>
                        <dd>- Din chat-ul cu antrenorul, apas pe punctele din dreapta sus, de unde ma astept sa am mai multe optiuni, printre care si sunatul.</dd>
                    </dl>

                </div>
            </div>
            <br>

            <div class="mvpvalidation">
                <div class="mvpvalidation-container">
                    <h2>Cum iti alegi un pachet de antrenament?</h2>
                    <br>

                    <dl>
                        <dt><b>[Alexandra]:</b></dt>
                        <dd>- Ma uit la pachetele care imi apar pe prima pagina si aleg unul care arata bine.</dd>
                    </dl>
                    <br>

                    <dl>
                        <dt><b>[Dennis]:</b></dt>
                        <dd>- Intru pe profilul antrenorului si aleg din pachetele listate aici.</dd>
                        <dd>- Daca nu imi place nimic, aleg de pe pagina principala.</dd>
                    </dl>

                </div>
            </div>
            <br>

            <div class="mvpvalidation">
                <div class="mvpvalidation-container">
                    <h2>Ce crezi ca este un challenge?</h2>
                    <br>

                    <dl>
                        <dt><b>[Alexandra]:</b></dt>
                        <dd>- O propunere de program de antrenament, prin care ar trebui sa iti depasesti limitele.</dd>
                        <dd>- Design-ul challenge-urilor imi sugereaza ca vor fi provocari impotriva cuiva.</dd>
                    </dl>
                    <br>

                    <dl>
                        <dt><b>[Dennis]:</b></dt>
                        <dd>- Un set de exercitii care te provoaca, cu scopul de a te imbunatati.</dd>
                    </dl>

                </div>
            </div>
            <br>

            <div class="mvpvalidation">
                <div class="mvpvalidation-container">
                    <h2>Cum gasesti challenge-uri disponibile?</h2>
                    <br>

                    <dl>
                        <dt><b>[Alexandra]:</b></dt>
                        <dd>- Ma uit pe prima pagina si aleg Active Challenges.</dd>
                    </dl>
                    <br>

                    <dl>
                        <dt><b>[Dennis]:</b></dt>
                        <dd>- De pe prima pagina, te duci la Active Challenges.</dd>
                    </dl>

                </div>
            </div>
            <br>

            <div class="mvpvalidation">
                <div class="mvpvalidation-container">
                    <h2>Ce te atrage cel mai mult la aplicatie?</h2>
                    <br>

                    <dl>
                        <dt><b>[Alexandra]:</b></dt>
                        <dd>- Faptul ca totul poate sa fie personalizat, ca poti primi pachete de antrenamente special facute pentru tine.</dd>
                    </dl>
                    <br>

                    <dl>
                        <dt><b>[Dennis]:</b></dt>
                        <dd>- Ca pot sa angajez un antrenor personal direct din aplicatie si sa ma antrenez tot prin intermediul aplicatiei.</dd>
                    </dl>

                </div>
            </div>
            <br>

            <div class="mvpvalidation">
                <div class="mvpvalidation-container">
                    <h2>Ai fi dispus/a sa platesti bani pentru orice serviciu din aplicatie? Daca da, ce ai alege sa cumperi?</h2>
                    <br>

                    <dl>
                        <dt><b>[Alexandra]:</b></dt>
                        <dd>- Da, pentru ca ma incanta ideea de a avea ceva mai organizat si pus la punct, decat sa caut pe cont propriu si sa fac mai multa munca degeaba.</dd>
                        <dd>- In prima faza as cumpara un pachet, ca sa vad cum ma descurc si cum e stilul unui anumit antrenor, apoi as opta pentru a angaja antrenorul.</dd>
                    </dl>
                    <br>

                    <dl>
                        <dt><b>[Dennis]:</b></dt>
                        <dd>- Da.</dd>
                        <dd>- As fi mai tentat sa platesc un antrenor personal in aplicatie, ca sa imi ofere o experienta personalizata de antrenament din confortul casei.</dd>
                    </dl>

                </div>
            </div>

            <div class="spacer"></div>

            <h2 class="subtitle">Design Feedback</h2>
            <br>

            <div class="mvpvalidation">
                <div class="mvpvalidation-container">
                    <dl>
                        <dt><b>Strengths:</b></dt>
                        <dd>- visually pleasing</dd>
                        <dd>- minimal design</dd>
                        <dd>- accent on the user experience</dd>
                        <dd>- training package preview before buying</dd>
                        <dd>- the relevant info about a trainer from the profile</dd>
                        <dd>- chat special messages (training related)</dd>
                    </dl>
                    <br>

                    <dl>
                        <dt><b>Weaknesses:</b></dt>
                        <dd>- more actionable symbols, as the training package from the chat was not clear enough what is it</dd>
                    </dl>

                </div>
            </div>

        </div>
    </div>

    <div class="spacer"></div>
</div>